[2020-04-24 14:14] Aljullu commented on #1255
Yeah, I can still reproduce this. I think our latest patches didn't change this at all.

[2020-04-24 14:45] Aljullu commented on #1335
I wasn't able to replicate this issue. @GlennMartin1 could you help me answering some questions?
* Was this happening with Storefront 2.5.5?
* Does it happen if you deactivate Homestore and use Storefront?
* Something that might help us is to get the same page contents as you.
  * Create a new page with the _Buttons_ block, so you can replicate the issue.
  * In the editor, press <kbd>Ctrl</kbd>+<

[2020-04-24 15:02] GlennMartin1 commented on #1335
Ok - I've got the solution - or at least a workaround - keep reading.

Yes, this happens with Storefront 2.5.5.
It began after Gutenberg 7.9.0 was installed.

Yes, it happens even with Storefront (without Homestore).

The is only an issue for buttons that were created prior to Gutenberg 7.9.0.
If I create a new button, the issue no longer appears.

The OLD code (before Gutenberg 7.9.0) is this:
`<

[2020-04-24 15:44] GlennMartin1 commented on #1335
Related: https://github.com/WordPress/gutenberg/issues/21685

Appears to be a Gutenberg bug.

[2020-04-24 15:44] #1335 closed

[2020-04-24 15:46] GlennMartin1 commented on #1335
To be resolved with https://github.com/WordPress/gutenberg/pull/21822

[2020-04-24 15:48] Aljullu commented on #1335
Awesome, thanks for investigating this @GlennMartin1. :+1:

[2020-04-27 07:16] Aljullu opened #1337 "Storefront hardcodes the editor font-size to 16px"
Storefront hardcodes the editor font-size to 16px, so users that change their browser default font-size will not see it applied in the editor. However, it's applied in the frontend, so that causes an incongruity between both.

## Screenshots
_Editor:_
![imatge](https://user-images.githubusercontent.com/3616980/80344348-b6511e80-8867-11ea-8dbd-4ae9cf63f68b.png)

_Frontend:_
![imatge](https://user-i

[2020-04-27 13:29] keninbassart commented on #1282
It only appeared as of this version of Storefront.

It only shows as an issue on the archive pages and the admin area

No, only the archive pages.

[2020-04-27 16:12] boutzamat commented on #991
Still nothing?

[2020-04-27 20:40] louisdoe commented on #991
Come on make this a priority ! Basic feature really !

[2020-04-27 23:36] lancewillett commented on #1106
Hi @jacoswan Is this issue still present in latest version of Storefront?

Due to lack of activity and low priority, might be worth closing this now.

[2020-04-27 23:41] haszari commented on #1106
Howdy @jacoswan - thanks reporting this.

We recently improved some focus ring issues in Firefox in #1318.

This isn't released yet - it's in [2.5.6](https://github.com/woocommerce/storefront/milestone/25?closed=1) which will be released soon.

If you want to test 2.5.6 to see if this issue is still present, you can download from here: https://github.com/woocommerce/storefront/releases/tag/version

[2020-04-28 02:37] haszari commented on #1333
Thanks for reporting this @Marmio - good spotting. I've edited the description for clarity.

[2020-04-28 03:22] haszari commented on #1282
Thanks for clarifying @keninbassart - I'm assuming you're seeing the issue in Storefront 2.5.5 (the current release version right now).

I tried to reproduce the issue and it seems to be working correctly for me. I tested on 2.5.6 RC 1, 2.5.4 and 2.5.5 and couldn't get the image to show cropped.

Here's the steps I tried. I tested in Firefox, Chrome and Safari on macOS.

- Enter `Customizer`
- Sel

[2020-04-28 03:30] haszari commented on #1282
Aha! @keninbassart I think the perhaps the crop customizer option applies when the product image thumbnail is generated (when the image is set on the product).

Can you try the following:

- Select `Uncropped` option in Customizer and publish.
- Upload a tall image to a product and update.
- View the category for that product.

If you upload the image after setting uncropped option, do you still s

[2020-04-28 06:53] Aljullu opened #1339 "Custom text color in blocks is broken in Gutenberg master"
Filling it so we can track this for following releases, even though the issue only affects the last version of Gutenberg `master` so it might make sense to wait until an official release is done.

## To Reproduce
1. In the editor, change the text color of a paragraph block.
2. Notice changes are not applied. That's because it doesn't have a `style` attribute anymore and one of our CSS rules (`.edi

[2020-04-28 11:09] jacoswan commented on #1106
Thanks for the ping. 2.5.6-rc.1 seems to solve all but the first, minor issue below, where the product tabs are still missing the left margin (both in Firefox and Chrome).

The other elements now appear nice and neat, @haszari

### Issue persists

Missing left margin from product tabs:
![sf-256-rc1-01](https://user-images.githubusercontent.com/15178758/80479392-3f8f5080-894f-11ea-82aa-e5b9dcbae574

[2020-04-28 19:38] haszari commented on #1106
Great - thank you for retesting @jacoswan. 🙇

Feel free to log a follow up issue for the quirks on the product page (description/review tabs and related products).

[2020-04-29 20:20] Thomas-1985 opened #1340 "previous / next article buttons not working correctly (within the same article category)"
Description:
In version 2.5.5 the next / previous buttons don't work properly within the same product category (also tested with 2.5.3).

I set the following in my functions.php

        // Show only products in the same category?
        $in_same_term   = apply_filters( 'storefront_single_product_pagination_same_category', true );

Expected behaviour:
-When i navigate to the first article in the

[2020-04-29 21:52] haszari commented on #1340
Thanks for reporting this @Thomas-1985.

Can you confirm that this issue occurs with only Storefront and WooCommerce active? I can't reproduce the issue. In my test site I'm using the Woo sample product data. In the `Clothing` category for example, the first/last page buttons are correctly disabled as I'd expect. Here's a screen recording for what I'm seeing:

![category-pagination](https://user-i

[2020-04-30 20:20] keninbassart commented on #1282
No change.

[2020-04-30 20:24] haszari commented on #1282
Thanks for rechecking @keninbassart :) In that case, I'm stuck, as I can't reliably reproduce the issue myself. If you have steps that can reliably reproduce the issue, please add as much detail as possible so I can reproduce. Thank you!

[2020-05-04 04:43] nielslange commented on #1262
Reopening this issue, as this issue it not caused by WooCommerce but by Storefront. WooCommerce already uses `text-decoration: none;` for this element in https://github.com/woocommerce/woocommerce/blob/f25967d57bc50c2906c94c111966d1bdbac04d1f/assets/css/woocommerce.scss#L1361-L1367. However, Storefront dequeues the WooCommerce styles in https://github.com/woocommerce/storefront/blob/b88139bbf4daec

[2020-05-04 17:45] BusinessBloomer opened #1341 "Instagram embed not working"
## Describe the bug

Instagram embeds e.g. https://www.instagram.com/p/B4NjwJ7oMB6 on its own line does not get translated into an embedded post. Instead, you see "https://www.instagram.com/p/B4NjwJ7oMB6" on frontend.

Tried with 2020 theme, works perfectly

## To Reproduce

Open new Gutenberg page, embed an instagram post (e.g. https://www.instagram.com/p/B4NjwJ7oMB6). On the backend you see the

[2020-05-04 21:44] haszari commented on #1262
Good sleuthing @nielslange ! That's surprising, feels like Woo core and Storefront are working at cross purposes here.

I think this means that this issue could be fixed in either place - and I'm not sure what the best solution is. I'm happy to keep both issues open for now.

[2020-05-04 23:54] haszari commented on #1341
Thanks for reporting this @BusinessBloomer . I'm having trouble reproducing the issue.

Here's what I tried:

- New post (using Block Editor/Gutenberg)
- Paste a url to an instagram post on its own line
- Url automatically converts into an embed in the editor, using `Instagram` block
- Publish post, embed shows in archive / blog page and post

Can you report back with more details of how to reprod

[2020-05-05 01:56] nielslange commented on #1262
Not really. Technically, the issue is already fixed within WooCommerce and Storefront simply does not show that fix due to https://github.com/woocommerce/storefront/blob/b88139bbf4daecf7cbb36005ba5ebc30586c3da4/inc/woocommerce/hooks.php#L13

Unless we open up Storefont in a way that the WooCommerce styles become active again, this issue needs to be addressed within Storefront. You know what I mean

[2020-05-05 02:02] haszari commented on #1262
Agreed, just feels unfortunate that we would reimplement a style rule which we get for free but then we've disabled (de-enqueued).

Re-enqueuing the Woo styles (removing the override) is an option, though I'm assuming there's a reason we're doing this and to change now would break other things. (Which is also unfortunate!)

Woo also has a storefront-specific stylesheet where we could presumably fi

[2020-05-05 15:58] BusinessBloomer commented on #1341
If I create a new page/post, it works fine. But if I try to fix an existing post/page, even after making it a draft and then republishing, the embeds don't appear :|

[2020-05-05 21:57] haszari commented on #1341
Thanks for the new info @BusinessBloomer. I've managed to reproduce it, with a blog post, in the blog archive view.

<img width="947" alt="Screen Shot 2020-05-06 at 9 51 59 AM" src="https://user-images.githubusercontent.com/4167300/81119642-4c2f2c80-8f7f-11ea-8c85-ff608bf0e26a.png">

I tried switching themes (to Twenty Twenty and Maywood) and the embed showed fine, so this seems to be a problem in

[2020-05-06 08:59] BusinessBloomer commented on #1341
Great!

[2020-05-06 16:59] Aljullu commented on #1339
An update on this: Gutenberg 8.0.0 was released and this issue is reproducible.

I also tested, and links are not correctly styled either.

[2020-05-06 18:08] GlennMartin1 commented on #1339
Probably the pertinent issue in Gutenberg: https://github.com/WordPress/gutenberg/issues/21931

[2020-05-06 19:54] haszari commented on #1339
Thanks for tracking that down @GlennMartin1 !

I've pulled the relevant part of the [comment](https://github.com/WordPress/gutenberg/issues/21931#issuecomment-624814695) here for clarity:

[2020-05-07 02:38] haszari opened #1342 "Stripe credit card icons look cramped in Storefront checkout (shortcode)"
## Describe the bug
The Stripe payment gateway extension shows some payment card icons in the checkout payment area.  In storefront these look a little cramped; they wrap on to another line, and there's no padding in the container.

This seems to be a Storefront specific issue as the icons look good in various other themes (Twenty Twenty, Twenty Nineteen etc). Stripe is a very popular payment exte

[2020-05-08 11:32] RiaanKnoetze opened #1345 "Outdated Font Awesome Library"
## Describe the bug
The Font Awesome library in SF only includes the "free" library and excludes "brands" - this means that social media icons (e.g. Facebook) won't render - regardless of whether they're added through custom HTML or 3rd party plugins.

Isolating the problem (mark completed items with an [x]):
- [x] I have deactivated other plugins and themes and confirmed this bug occurs when only

[2020-05-08 11:37] RiaanKnoetze commented on #1345
For internal reference, please have a look at: https://a8c.slack.com/archives/C3NCP7ZJ6/p1588935685351700

[2020-05-08 16:49] GlennMartin1 commented on #1339
Could this be milestoned for 2.5.7?

[2020-05-08 23:00] haszari commented on #1339
Added to milestone for now – still deciding what we're focusing on this release but would be good to tidy this up.

[2020-05-09 19:56] opicron opened #1346 "Sticky Add to Cart does not take Woocommerce Min/Max Quantity in consideration"
## Is your feature request related to a problem?
When using the Woocommerce Min/Max Quantity plugin the Stick Add to Cart adds 1pc to the cart instead of the minimum set quantity. Resulting in an notice at the Cart page.

## Describe the solution you'd like
Would it be possible to add compatibility with Woocommerce Min/Max Quantity plugin?

## Describe alternatives you've considered
I have conside

[2020-05-10 11:03] opicron commented on #1346
fixed by hooking "woocommerce_product_add_to_cart_url" checking if is_single and adding quantity manually.

[2020-05-10 20:17] haszari commented on #1346
Hi @opicron  - looks like you've got a workable solution - nice work! Closing this issue since this can be solved using the hook.

[2020-05-10 20:17] #1346 closed

[2020-05-11 00:06] haszari opened #1347 "remove stale/broken css for main navigation icons"
## Describe the bug
As noted in #1333  and #1334, there's a typo in icons.scss.

It looks like this typo is breaking some icon styling for the main navigation, though it's quite likely this is a stale/broken feature. Suggest that we remove the styles rather than fix the typo - that's the focus of this issue :)

[2020-05-12 21:26] LauraSWP opened #1348 "Services Block Button: Can't align center."
## Describe the bug
This happens when adding the block "Services".

Add a button to the block options.

The first time you add the button, it will be aligned center. But it is now. It's actually aligned to the left.

If you change it to be aligned to the center and save, the button aligns to the left at the front-end version of the page.

Align to the right and to the left works. Align to the cent

[2020-05-13 01:17] haszari commented on #1348
Thanks for reporting this @LauraSWP :)

I don't see a `Services` block with just WooCommerce + Storefront active. I think this block is from the [CoBlocks plugin](https://coblocks.com).

I think this might be an issue with the default align setting for the button block. All three modes work correctly if, just seems to be a slight inconsistency with the default align setting. See below - I was able

[2020-05-13 01:17] #1348 closed

[2020-05-13 02:48] haszari commented on #1347
Added to 2.5.7. This is not a top priority but it would be good to get it tidied up and should be low risk/zero impact. 🤞

[2020-05-13 02:49] haszari commented on #1345
Adding to 2.5.7 - looks like we should provide the full icon set for compatibility reasons.

[2020-05-13 02:50] haszari commented on #1342
Added to 2.5.7 (assuming this is easy/low risk) - Stripe is a very popular payment extension, the card icons should look good in checkout.

[2020-05-13 02:51] haszari commented on #1341
Adding to 2.5.7 - this is a core block that we should be compatible with.

[2020-05-13 02:58] haszari commented on #1333
Closing this in favour of #1347.

Usually I'd close the newer issue but in this case #1347 has a recommended plan of action. Thanks for reporting @Marmio  :)

[2020-05-13 02:58] #1333 closed

[2020-05-13 03:06] haszari commented on #1319
Adding to 2.5.7, hopefully we can tidy this up safely.

[2020-05-13 03:09] haszari commented on #1282
Switched this to low priority until we have a clearer idea of impact.

[2020-05-13 03:11] haszari commented on #1270
Added this to 2.5.7 - would be good to simplify/improve this if safe to do so.

[2020-05-13 03:26] haszari opened #1349 "Use a full width layout for the default page template"
## Is your feature request related to a problem? Please describe.
Storefront currently has two page templates: `Default`, with a sidebar, and `Full width`.

As Gutenberg and block-based layout becomes more popular, it's less useful to have the page layout controlled by PHP templates.

With this in mind, I'd like to suggest that the default template use a full width layout. This would provide great

[2020-05-13 03:28] haszari commented on #1349
Tentatively adding this to 2.5.7 for investigation alongside #1270. Note that 2.5.7 is a fixed time variable scope release, so if this is complex or risky there's no pressure to ship it.

[2020-05-13 03:39] haszari commented on #1070
Adding this to 2.5.7 - would be great to improve accessibility here (assuming we can tidy this up without risk/regressions).

[2020-05-13 03:40] haszari commented on #1145
Adding to 2.5.7 so we can close this issue.

Ideally we find a safe fix and ship it 🚢

If this is out of our control and is essentially an iOS / Mobile Safari known issue, let's confirm the details and close the issue.

[2020-05-13 03:43] haszari commented on #1235
Adding this to 2.5.7, assuming that we can safely fix this so core galleries work consistently in Storefront and other themes.

If for some reason this behaviour is intended by Storefront - i.e. this is by design – or if it's risky / complex to fix, we may close this issue until we get more feedback that it's causing problems for stores (instead of fixing it).

[2020-05-13 03:47] haszari opened #1350 "Document Storefront's support policy WordPress and WooCommerce versions"
## Is your feature request related to a problem? Please describe.
It's not clear what versions of WordPress and WooCommerce are suitable for use with Storefront.

Having a clear support policy allows us to move fast and focus our testing and backward compatibility where it can have the most impact.
## Describe the solution you'd like
[WooCommerce has recently shipped an "**L-2**" based policy](htt

[2020-05-13 04:02] haszari opened #1351 "Document basic Storefront testing instructions (e.g. install & set up)"
## Is your feature request related to a problem? Please describe.
WooCommerce Core has a process for documenting all changes with [clear instructions for testing](https://github.com/woocommerce/woocommerce/wiki/Release-Testing-Instructions) the feature/fix. Let's adopt a similar approach with Storefront changes.

## Describe the solution you'd like
We're already including bug reproduce steps / tes

[2020-05-13 07:25] nielslange commented on #1345
I've assigned this issue to me and will work on it later today!

[2020-05-13 18:04] nielslange commented on #1342
@haszari Based on your screenshot, it looks like the card icons are distributed over two rows, as the checkout still contains the sidebar. Don't you think that https://github.com/woocommerce/storefront/issues/1349 would solve this credit card display issue?

[2020-05-13 18:26] nielslange commented on #1350
I'd follow an L-2 approach as well for now, which can always be adjusted to an L-1 approach later on if needed.

[2020-05-13 20:50] haszari commented on #1342
Good point @nielslange  - using a full width template (layout) would definitely mitigate this. There's still an issue with smaller screens, but maybe this is lower priority than I originally thought.

[2020-05-14 03:09] #1347 closed

[2020-05-14 03:44] shubhsheth commented on #856
I created a pull request to close this issue. Can someone review it?

[2020-05-14 03:51] haszari commented on #856
Thanks @shubhsheth – I'll take a look.

Note - this is arguably a new feature, as the original feature was designed to be desktop-only. Work in Storefront is mostly focused on safe fixes and compatibility updates right now.

[2020-05-14 04:00] haszari commented on #856
Added to 2.5.7 for consideration / investigation.

If this works well from a design/flow point of view, is safe (won't break / impact existing stores), then perhaps we can include in 2.5.7.

[2020-05-14 05:38] nielslange opened #1356 "Add PHPCS to Storefront"
To improve the code quality of the Storefront theme, I propose adding the adding the following tools:

- https://github.com/squizlabs/PHP_CodeSniffer
- https://github.com/WordPress/WordPress-Coding-Standards
- https://github.com/WPTRT/WPThemeReview

**Motivation**

When running `phpcs . --standard=WordPress,WPThemeReview --ignore="/vendor/*,/node_modules/*" --extensions=php` within the theme, the

[2020-05-14 05:51] nielslange commented on #1342
@haszari I also looked up the HTML structure of the card icons to see if it's possible to move the card icons into the next row. The current HTML structure would not allow such a change, but I'll look up this issue later tonight to look for options.

[2020-05-14 11:58] GlennMartin1 commented on #1339
This issue's title is incorrect and should be revised.

The problem is not Gutenberg. Instead, the problem is that Storefront is (presumably) not loading the color palette stylesheet on the editor.

[2020-05-14 20:07] haszari commented on #1356
Great idea @nielslange !

We'll need to come up with a strategy for how we address the existing issues - lots of safe fixes in there but still a lot of code impact.

[2020-05-14 20:08] haszari commented on #1342
We could also potentially reduce the number of icons as the div gets smaller, responsive style.

[2020-05-14 20:27] haszari commented on #1339
Thanks Glenn - I've updated the title. Personally I prefer issues that are focused on the user-facing problem, not a particular code solution. Hopefully I've captured the problem in the new title!

[2020-05-15 00:00] #1345 closed

[2020-05-15 02:12] haszari commented on #856
Closing - as discussed in the PR, the sticky header is of limited use on small screens, and competes with the sticky footer for attention. We don't want to include this behaviour in Storefront for all stores.

Stores that would like this sticky header on mobile can implement in a child theme, custom plugin, or customizer css, using #1312 as a guide.

Thanks for prototyping this @shubhsheth !

[2020-05-15 02:12] #856 closed

[2020-05-15 06:29] ajgw opened #1357 "Get random Critical Uncaught Error"
I can not reproduce error, but I do see error on two really different client sites and may ask what the reason can be. This is what I see on both client sites but with different timestamps:

2020-04-21T12:59:27+00:00 CRITICAL Uncaught Error: Call to a member function get_cart_subtotal() on null in …/wp-content/themes/storefront/inc/woocommerce/storefront-woocommerce-template-functions.php:77
Stack

[2020-05-17 19:52] haszari commented on #1357
Hi @ajgw - thanks for logging this. Can you confirm if these sites are running any other plugins or child themes? Perhaps there's an interaction with another plugin causing this.

[2020-05-17 23:03] haszari commented on #1350
When we have a clear WordPress version support policy, we can be more proactive in tidying up use of old/deprecated apis, for example: https://github.com/woocommerce/storefront/pull/1143

[2020-05-18 00:01] haszari commented on #1341
I can't reproduce this anymore! I don't see how this could have been broken by Storefront - I'm thinking perhaps there was a glitch with the embed or the instagram API that was temporarily causing this.

@BusinessBloomer Can you still reproduce this with the latest versions of WordPress and Storefront?

[2020-05-18 01:02] haszari commented on #1349
The [Storefront install & configuration document](https://docs.woocommerce.com/document/installation-configuration/#section-10) says that Storefront will `Apply a full-width template to display the cart and checkout pages` as part of starter content.

This is consistent with our plan to use full-width template as the default.

[2020-05-18 01:07] haszari commented on #1351
This is covered well in the existing documentation – we don't need to document this in the repo.

See this page in particular: [Storefront Installation & Configuration](https://docs.woocommerce.com/document/installation-configuration/)

Note that this page covers more than just basic/initial setup. Also, some information may need updating - we should focus our attention on improving the existing d

[2020-05-18 01:08] #1351 closed

[2020-05-18 04:17] nielslange commented on #1342
I looked up this issue again and it seems that the card icons are bigger on Storefront than on other themes. I'd reduce the size to see if that already solves the issue.

[2020-05-18 07:15] ajgw commented on #1357
Hi @haszari  - both sites run Storefront without childtheme. At that state it was Storefront 2.5.5.

Both sites do have plugins but the active plugins do overlap in case of WooCommerce one time: both uses Germanized für WooCommerce. But all sites with WooCommece I manage do have that plugin activated but only this two have Error in logfile.

This is the list of activated plugins:

Aktive Plugins (

[2020-05-18 07:47] jconroy commented on #1349
That's a good spot

[2020-05-18 11:22] jconroy commented on #1145
I'm still seeing the 2 (or 3) tap issue (depending on whether I've just scrolled or the browser toolbar is is/is not shown). If the page is _still_ and toolbar is shown it generally it works first time.

[I was trying to see is this article is related but ran out of time](https://css-tricks.com/annoying-mobile-double-tap-link-issue/).

[2020-05-18 15:05] BusinessBloomer commented on #1341
Yes, I can still reproduce it: [https://apieceofsicily.com/en/sicilian-celebrities/](https://apieceofsicily.com/en/sicilian-celebrities/)

[2020-05-18 20:28] haszari commented on #1357
Thanks for the extra info @ajgw .

Based on the log error, it looks like the issue is related to `WC()->cart` being null / unavailable. This is the affected line of code: https://github.com/woocommerce/storefront/blob/master/inc/woocommerce/storefront-woocommerce-template-functions.php#L77

Is the issue still occurring with Storefront 2.5.6?

How often does this happen - weekly, daily, more often?

[2020-05-18 20:41] ajgw commented on #1357
On one of the sites I saw it only pne time at end of april.

On other site we had it last year few times, at beginning this year and end of april both two times, each with few days between them.

Til update to 2.5.6 we had any error of this kind.

[2020-05-18 20:59] haszari commented on #1145
That sounds fine to me, perhaps we can close this.

I don't think that's relevant - that issue is related to hyperlinks showing the hover state on first tap ("special" iOS behaviour). I don't think our search icon has a hover state.

I just tested myself and this seems to be appropriate iOS behaviour, where the real web UI has different layers depending on what's happening (as you noted in your te

[2020-05-18 20:59] #1145 closed

[2020-05-18 21:18] haszari commented on #1341
I found an issue in Gutenberg which might be relevant. https://github.com/WordPress/gutenberg/issues/14351

I think the embed functionality is powered by a script on the front end, and there's something stopping that from working correctly.

[2020-05-18 22:43] jconroy commented on #1145
Fair enough. I was going to check if [hover state like this one](https://github.com/woocommerce/storefront/blob/master/assets/css/base/_base.scss#L462) would be playing any part.

I think that is a fair call.

[2020-05-18 22:54] haszari commented on #1070
I've retested this (with `master` branch, i.e. 2.5.7) and it's working correctly now - I think this issue was accidentally left open when the original PR was reverted.

In my testing, the navigation button `aria-expanded` attribute correctly toggles between `true`/`false`. With VoiceOver on, the the menu items are not read out when they aren't visible.

Closing - please reopen or log a new issue i

[2020-05-18 22:54] #1070 closed

[2020-05-19 00:28] #1319 closed

[2020-05-19 00:40] haszari commented on #1339
Let's hold off on this for now – I see the discussion is still ongoing in Gutenberg, and there's a now a [Gutenberg PR open to address the issue](https://github.com/WordPress/gutenberg/pull/22356).

It looks like this is still being worked out - this affects many themes. When Gutenberg is released and there's guidance on the best fix, we can implement in Storefront.

[2020-05-19 01:28] haszari commented on #1235
I wanted to check to see if this is a new issue (introduced/regression) or is existing behaviour in Storefront. I tested with Storefront 2.5.0 and I saw the same behaviour:

<img width="1007" alt="Screen Shot 2020-05-19 at 1 26 17 PM" src="https://user-images.githubusercontent.com/4167300/82274464-5405bc80-99d4-11ea-9db8-b421c0830f4e.png">

Personally I like the idea of changing this to be more co

[2020-05-19 15:15] locougil commented on #991
It would be so cool to have the possibility to change the breakpoints easely. Please ! :)

[2020-05-20 02:26] haszari commented on #1349
Tested this to see how it works. I had a blank store with no products (usually I import products early in my testing) and clicked the `Let's go` onboarding prompt.

The generated cart & checkout pages did indeed use the full width template:

<img width="1238" alt="Screen Shot 2020-05-20 at 1 33 32 PM" src="https://user-images.githubusercontent.com/4167300/82397816-63086f80-9aa5-11ea-85f7-d5621afb2

[2020-05-21 15:01] gglobalstep opened #1361 "[GlobalStep - 4.2 RC1]: Icons for Reply, Edit(Pencil) and Document are not displayed on Storefront theme."
**Environment:**
Windows 10- Google Chrome (Version 81.0.4044.138)
Mac Mojave -10.14.6 -Safari(v13.0.5 )

**Steps to Reproduce:**
1. Create a site using Ninja tool.
2. Add all the plugins.
3. Go to Appearance > Theme > Add New.
4. Search and activate Storefront theme.
5. Go to Posts > Add New.
6. Create a post and publish it.
7. Observe that Reply, Edit(Pencil) and Document icons are not displayed

[2020-05-21 15:24] gglobalstep commented on #1319
This issue is observed to be **Open** on WooCommerce 4.2 RC 1
**Environment:**
Windows
OS: 10
Browser: Chrome(Version 81.0.4044.138 (64-bit))

MAC
OS: Mojave v10.14.6
Browser: Safari(v13.0.5)

[2020-05-21 15:27] gglobalstep commented on #1345
Could you please provide more information about how to test this issue on WooCommerce 4.2 RC1?

[2020-05-21 17:25] kjesso commented on #991
I'm so tired of seeing developers easily dismissing peoples honest attempts to make life easier for others and themselves. This is what we don't need more of.

[2020-05-21 20:18] haszari commented on #1345
Thanks for testing @gglobalstep !

You can test to confirm the brands icons are working correctly using the steps in the original issue above:

- Install, activate https://wordpress.org/plugins/social-profiles-widget/
- Add widget Social Profile widget to footer and add "Facebook" as a profile(Screenshot at: https://d.pr/i/zUxaI6)
- View widget on front-end (Screenshot at: https://d.pr/i/Zx68pg)

[2020-05-21 20:24] haszari commented on #1361
Thanks @tammullen  @gglobalstep :)

@gglobalstep  Can you confirm the version of Storefront you were using when you saw this bug? This issue has been fixed in [Storefront 2.5.7 RC](https://github.com/woocommerce/storefront/releases/tag/version%2F2.5.7-rc.1): #1319

To test Storefront 2.5.7 RC, you'll need to:

- Download the zip from GitHub here: https://github.com/woocommerce/storefront/releases/

[2020-05-21 21:24] haszari commented on #1319
Thanks for testing this @gglobalstep :)

Can you confirm the Storefront version where you saw the issue? This issue is fixed in Storefront 2.5.7 RC 1.

Please ensure you are testing with Storefront 2.5.7 RC 1 by following the steps here - https://github.com/woocommerce/storefront/wiki/Release-testing-instructions:-Storefront-2.5.7

[2020-05-26 11:34] opicron commented on #1235
Maybe make the default behaviour as current and add an customizer option to the theme? I detest the customizer and have a feeling the customizer might not live a long live but at least it is an viable solution.

[2020-05-26 12:50] GlennMartin1 commented on #1235
There are use cases where a large pic on the bottom row is really a poor idea. For example, I use the gallery block for displaying many small color swatches. It makes little/no sense to see the final pic as a huge one.

In other use cases, it's very nice, i.e. like in the [comment above](https://github.com/woocommerce/storefront/issues/1235#issuecomment-576038915) of scenery pics.

I'd say this sh

[2020-05-26 16:01] opicron commented on #1235
@GlennMartin1 block option would be even better. Supplemented with an global setting maybe?

[2020-05-26 23:27] haszari opened #1363 "Update dependencies! Or set up a bot to help us manage dependencies"
## Is your feature request related to a problem? Please describe.
Our npm dependencies are not fully up to date. We should be keeping libs updated unless we have a good reason not to.

[code]

## Describe the solution you'd like
Set up RenovateBot or similar to auto-update so we don't have to manually do this. We'll need to test to ensure nothing's broken - our monthly release schedule & testing p

[2020-05-26 23:28] haszari commented on #1363
FYI @jconroy we'll probably want something similar across Storefront family (child themes and extensions). I'm assuming none of the other repos have a specific solution in place?

[2020-05-26 23:54] jconroy commented on #1363
Correct I have not seen any with a solution for managing dependencies - they are currently quite behind to say the least.

[2020-05-27 13:09] slavicd commented on #1299
I do feel like there is sufficient details as to what the issue is @haszari

[2020-05-27 19:29] slavicd opened #1364 "Focus outline broken for My Account address buttons in Firefox"
## Describe the bug

It looks like Storefront's implementation of icons is broken in Firefox when  outlines are present (they are by default in Storefront).

Apparently the `text-indent` property sends text way past the left border, but because it's technically still "visible" the outline goes around the negatively-indented text.

Here's a related S.O. [question](https://stackoverflow.com/question

[2020-05-27 19:31] slavicd commented on #1363
Why not the other way around?

[2020-05-27 20:32] haszari commented on #1364
Thanks for reporting this @slavicd !

I can reproduce the issue:

<img width="1263" alt="Screen Shot 2020-05-28 at 8 30 58 AM" src="https://user-images.githubusercontent.com/4167300/83069223-a70afe00-a0bd-11ea-913f-df7e6dadf563.png">

This looks similar to a previous issue, hopefully an easy fix. https://github.com/woocommerce/storefront/issues/1221

[2020-05-27 20:39] haszari commented on #1363
There are lots of reasons to keep dependencies updated. For me, the main rationale is to keep up with any security fixes.

Here are some articles on the topic:

https://github.blog/2019-01-31-keep-your-dependencies-secure-and-up-to-date-with-github-and-dependabot/

https://depfu.com/blog/2016/12/01/why-you-should-keep-your-dependencies-up-to-date

[2020-05-27 22:32] slavicd commented on #1363
You have given me the how, but not the why.

A security fix is just about the only good reason to update a library in a stable package. Other updates should be there only to be used by a further iteration of client code (minor or major).

I am a strong believer of don't fix what is not broken.

[2020-05-28 13:20] nielslange commented on #1363
**... to keep up with any security fixes.**

[2020-05-28 13:50] nielslange opened #1365 "Replace jQuery with Vanilla JS"
## Is your feature request related to a problem? Please describe.

WordPress moves away from jQuery towards Vanilla JS. The Storefront child themes and extensions should follow the same path.

## Describe the solution you'd like

The title says it all: _Replace jQuery with Vanilla JS_

## Describe alternatives you've considered

n/a

## Affected files

- [ ] https://github.com/woocommerce/storefro

[2020-05-28 16:01] Aljullu opened #1366 "Product grid blocks and All Products block have different styles for the product name"
_Hand-Picked Products_ on top, _All Products_ below:
![imatge](https://user-images.githubusercontent.com/3616980/83164436-828a4280-a10c-11ea-81c1-b9a62cdf52b5.png)

We should consolidate towards one of the styles: should the product price be like a link (purple & underline) or like normal text (black and no underline)?

[2020-05-28 16:55] gglobalstep commented on #1319
This issue is observed to be "Fixed" on WooCommerce 4.2 RC 2
**Environment:**
Windows
OS: 10
Browser: Chrome(Version 81.0.4044.138 (64-bit))

MAC
OS: Mojave v10.14.6
Browser: Safari(v13.0.5)

[2020-05-28 17:00] gglobalstep commented on #1345
Keeping this ticket "Open" as we are not able to see "font family: font-awesome".
Refer below artifacts:
![MAC](https://user-images.githubusercontent.com/41110392/83170880-dc056800-a132-11ea-8721-43e2fc69cc4a.jpg)
![Windows10](https://user-images.githubusercontent.com/41110392/83170886-ddcf2b80-a132-11ea-8daa-fc3eb6327756.png)

[2020-05-28 21:42] haszari commented on #1365
At a minimum, I think we should not use jQuery in any new work (though - there is not likely to be major new features in Storefront).

When fixing issues or maintaining existing scripts, I think it's a great idea to consider removing the dependency on jQuery, if it's safe and convenient to do so.

[2020-05-28 21:48] haszari commented on #1366
My 2 cents - it should be clickable, and behave like a link (take you to the product), so should look like one too. Maybe a "heading" link as it is somewhat of a heading.

We need a designer .. @LevinMedia what do you think?

[2020-05-29 03:21] nielslange commented on #1345
@gglobalstep Your screenshot shows the fonts for body. They will remain as they are and cannot be font-awesome as the regular text would not be readable any longer. In addition, your screenshot shows an entire different Facebook icon. This icon is not related to Font Awesome.

- What is the URL of your test site?
- What plugin are you using to add the Facebook icon on the site?

[2020-05-31 19:50] senadir commented on #1365
Removing jQuery could cause some issues with other plugins or customizations that use jQuery but never managed to define it as a dependency, I share Rua that we should move away from writing new code in jQuery.

[2020-06-01 08:42] nielslange commented on #1365
Closed due to https://github.com/woocommerce/storefront/issues/1365#issuecomment-635623684 and https://github.com/woocommerce/storefront/issues/1365#issuecomment-636519919

[2020-06-01 08:42] #1365 closed

[2020-06-03 01:09] haszari commented on #1330
Update on this: Woo core now has some e2e support which might help our efforts - ideally we adopt/build on an existing setup, rather than start from scratch.

As a next step we could try adopting [WooCommerce Core e2e testing environment](https://github.com/woocommerce/woocommerce/blob/update/e2e-hosting/tests/e2e/env/README.md) for Storefront and running Woo core tests or writing a simple Storefr

[2020-06-03 02:39] haszari commented on #1350
This is now documented here: https://docs.woocommerce.com/document/storefront-requirements-version-support/

And that page is linked from the main install/setup doc: https://docs.woocommerce.com/document/installation-configuration/

So we're good - closing 🎉

[2020-06-03 02:39] #1350 closed

[2020-06-03 03:14] haszari commented on #1299
Thanks for clarifying @slavicd. I had a quick look to see if / why `storefront-woocommerce-style` depends on `storefront-icons` or `storefront-style`.

As far as I can tell, there's one use of FontAwesome icons in `storefront-woocommerce-style`, for password inputs: https://github.com/woocommerce/storefront/blob/master/assets/css/woocommerce/woocommerce.scss#L1606

We'll need to do some investigat

[2020-06-03 03:24] haszari commented on #1350
Note - this is not currently enforced in code, and we don't have any explicit process to manage this. For example, we could:

- When planning a new release, look for opportunities for features/code to remove/tweak because it's targeting older versions of WooCommerce or WordPress.
- Explicitly test against older supported versions of WooCommerce or WordPress when testing/releasing.
- Add metadata t

[2020-06-03 04:03] haszari opened #1367 "Provide appropriate guidance/mitigation when changing default page layout"
## Is your feature request related to a problem? Please describe.
In the next release, we're changing the default page template to be full width. The sidebar will still be available, but only for pages that choose the (new) sidebar template. See related issue: https://github.com/woocommerce/storefront/pull/1362

Since this is a reversal of previous behaviour, we need to take care. To be clear - in

[2020-06-03 06:17] ajgw commented on #1357
Yesterday I have updated Storefront to version 2.5.7 and error came up in log file with same output again on one client site. Any idea?

[2020-06-03 09:47] Aljullu commented on #1299
It looks like child themes have been relying on the the work-around exposed by @slavicd to enqueue styles:

https://github.com/woocommerce/deli/blob/master/inc/class-deli.php#L25
https://github.com/woocommerce/boutique/blob/master/inc/class-boutique.php#L24

I also checked [Bistro](https://woocommerce.com/products/bistro/) and it does the same.

I agree it would be nice to fix this to make it easi

[2020-06-03 19:51] haszari commented on #1357
Thanks for the update @ajgw - strange to hear this occurred again.

Apart from the error in the log, is this affecting your sites in any other ways? If it's not easily reproducible and not causing problems, perhaps we could close the issue.

[2020-06-03 20:53] haszari commented on #1299
Thanks for reporting @slavicd and thanks for investigating @Aljullu - I've added this to the next milestone, as it seems there's an issue here we can fix.

@Aljullu  - you seem to have a good handle on the issue here, could you add a comment with next steps to clarify the problem and the intended fix/improvement? Thank you :)

[2020-06-04 10:31] zietbukuel commented on #991
This is a pretty basic feature most theme have by default. A way to modify the breakpoints from either the admin UI or using hooks. Having to modify the parent themes defeats the purpose of having a child theme and it's not the "Wordpress way".

[2020-06-05 04:34] haszari opened #1370 "document Storefront's version numbering scheme/policy (semantic versioning)"
## Is your feature request related to a problem? Please describe.
Different software projects have different ways to signal breaking changes, and communicate what to expect in a new version/release. Some examples:

- [semantic versioning](https://semver.org) aka semver
- [how WordPress core does it](https://make.wordpress.org/core/handbook/about/release-cycle/version-numbering/)
- [romantic versio

[2020-06-05 04:51] haszari commented on #1367
Re breaking change - if we do consider this a breaking change then the release should use a major version, e.g. 3.0.0.

https://github.com/woocommerce/storefront/pull/1371

[2020-06-05 06:53] #1299 closed

[2020-06-05 17:06] rcstr commented on #991
this was requested today at WCEU Woo virtual booth

[2020-06-07 20:20] haszari opened #1373 "remove unused/deprecated code targeting older versions of WooCommerce"
## Is your feature request related to a problem? Please describe.
We've recently [clarified and updated the versions of WooCommerce that are supported for Storefront](https://docs.woocommerce.com/document/storefront-requirements-version-support/). There may be code targeting older versions which is no longer needed. Removing this code could simplify the code base and reduce the amount of code that

[2020-06-07 20:25] #1370 closed

[2020-06-07 22:55] jconroy commented on #991
Might be useful to collate some examples of themes that are considered to be doing this well to help us decide on effort required and approach.

[2020-06-08 03:57] haszari commented on #991
I did a little research to get a better idea of how this works in Storefront and what options we might have.

Please feel free to comment linking to themes that offer this kind of feature, or if you have ideas for how we could implement in Storefront.

### Do other themes offer this?

I found a couple of paid themes that offer customizable breakpoints as a feature:

- Page Builder Framework has a

[2020-06-08 13:10] JakeMahal opened #1374 "Instagram logo wont load to social menu automatically"
Hi

I've added a new social media link to my social menu for instagram on Storfront but the icon won't show up. I have previously added youtube in this way but It does not seem to work now.

Any help would be appreciated, thanks!

[2020-06-08 17:04] wedwincode commented on #991
Hi, as I understand, in 2018 in Storefront were .scss files. I tried to find them, but here's only style.css in wp-content/themes/storefront. I found here @media (min-width: 768px) and changed the value but it doesn't do anything. Help me please.

[2020-06-09 04:28] haszari commented on #1374
Hi @JakeMahal ! Can you provide a bit more information about how you are setting the menu up? Is this using another extension or child theme (for example [Jetpack's Social Menu](https://jetpack.com/support/social-menu/))?

Note that Storefront doesn't provide a social links menu feature. If you're having an issue with Storefront specifically, please provide more details so we can decide if this is

[2020-06-09 17:09] nielslange commented on #991
I just had an idea of which I'm not sure if it's genius or nuts. 😂 I thought by myself, what about creating four different styles:

- phone.scss → phone.css
- tablet.scss → tablet.css
- laptop.scss → laptop.css
- desktop.scss → desktop.css

And then enqueue these styles based on break points defined in the customizer:

[code]

Please note that the code above is not 100% accurate, but pseudo-code f

[2020-06-09 21:00] guicmazeredo opened #1375 "Product pagination doesn't work properly with imported products"
## Describe the bug
If the products on the store have been imported - instead of created manually through the dashboard - if you click on a product from a category page and then use the `previous/next` buttons on the left/right hand-sides, the pagination will transition between two or three products within that category without a logical order.

Isolating the problem (mark completed items with an

[2020-06-09 21:06] GlennMartin1 commented on #1375
This issue https://github.com/woocommerce/storefront/issues/848 explains the cause and remedy.

[2020-06-09 21:10] guicmazeredo commented on #1375
Wow, that was fast. Should I close this issue then?

[2020-06-10 00:41] guicmazeredo commented on #1375
To clarify, I believe it would be good this behavior could be avoided somehow. I'm just not sure if this issue should be here or on the WooCommerce repo. If it's the latter I can open a new issue there and close this one.

[2020-06-10 01:39] GlennMartin1 commented on #1375
I understand the root issue is in WordPress itself.

If the issue only exists with dummy data, then it's a pretty benign issue.

What's the use case where this becomes an issue in a production environment?

[2020-06-10 09:00] JakeMahal commented on #1374
Hi

I'm using a child theme of storefront.

This article (https://docs.woocommerce.com/document/create-a-social-icon-menu/) seems to suggest that the addition is, in part, automatic - and when I previously added a link for youtube the link and associated icon was created when I added the link and name via the wordpress customizer for my social links menu.

I guess one difference is that it isn't s

[2020-06-14 19:48] haszari commented on #1374
Thanks for the info @JakeMahal - I'm hopeful you can get your icon working without needing a bug fix in Storefront.

Can you provide more details of your child theme - is it a custom child theme, or one of the [Storefront child themes developed by WooCommerce](https://woocommerce.com/product-category/themes/storefront-child-theme-themes/)?

If you switch to Storefront theme only (no child theme),

[2020-06-14 20:07] haszari commented on #991
Thanks for brainstorming solutions @nielslange !

I think the challenge here is that this wouldn't change when these media queries take effect - i.e the breakpoints.

Depending on how the media queries are set, you could implement some limited flexibility this way. For example, if `tablet.css` was defined as "up to" some pixel width, not enqueueing `phone.css` might cause tablet styles to apply on

[2020-06-16 04:11] haszari commented on #1363
This is underway now - we'll see how it goes with 2.5.8 release. See the PR for more details, rationale, and how this affects release testing.

https://github.com/woocommerce/storefront/pull/1376

[2020-06-16 04:11] #1363 closed

[2020-06-16 23:51] haszari commented on #1330
I've picked up work on this. First steps are to review the various e2e environments available to see what's a good fit for Storefront - I'm looking at [WooCommerce Core](https://github.com/woocommerce/woocommerce/blob/update/e2e-hosting/tests/e2e/env/README.md) and [`@wordpress-env` from Gutenberg](https://developer.wordpress.org/block-editor/packages/packages-env/).

We also need to think about w

[2020-06-16 23:53] haszari commented on #1330
FYI @senadir since you are working on e2e in WooCommerce Blocks 🙌

[2020-06-16 23:57] haszari commented on #1330
I see there's a lot of cool stuff in progress in https://github.com/woocommerce/storefront/pull/1336/files - @nielslange can you give us an update of what's working and what's left to do? I see a lot of flows tests 🏆, would be great if we could use these with `wp env` or whatever infra we end up with.

[2020-06-17 05:54] nielslange commented on #1330
Hello @haszari 👋 After running into various errors when using [Jest](https://jestjs.io/) and [Puppeteer](https://github.com/puppeteer/puppeteer) I went ahead and experimented using [Cypress](https://www.cypress.io/). I understood that you prefer reusing the implementation from the WooCommerce core, thus, feel free to close this PR and create a new one using the WooCommerce core tests.

[2020-06-17 19:49] haszari commented on #1330
Thanks @nielslange  - maybe we can adapt some of your test code. There's also [Playwright](https://playwright.dev) on the horizon too - https://github.com/WordPress/gutenberg/pull/23238 :)

[2020-06-18 22:42] haszari opened #1395 "Add some basic PR automated checks"
## Is your feature request related to a problem? Please describe.
We don't have any automated checks for PRs. This is a problem, because it increases the overhead of reviewing and testing code changes. Also having some automated checks would give us more confidence when releasing.

Having a standard suite of automated checks would allow us to focus our dev energy on holistic testing and finding an

[2020-06-19 00:06] haszari opened #1396 "Consider adopting automated tooling for handling releases"
## Is your feature request related to a problem? Please describe.
Our release process is quite manual - some of this can probably be automated. If we can streamline our releases it could save us some time.

Examples:

- Editing changelog.
- Preparing RC release on github & pasting changelog.
- Uploading to WordPress.org.

## Describe the solution you'd like
Research options for automating parts of

[2020-06-19 01:40] haszari commented on #1299
Hi there @slavicd  - this has been fixed in Storefront 2.5.8-rc.1. If you like, you can [download the zip from here](https://github.com/woocommerce/storefront/releases/tag/version%2F2.5.8-rc.1) and test the fix. Thank you :)

[2020-06-19 01:48] haszari commented on #1332
Saw this again when testing 2.5.8 RC 1. Confirmed this affects Safari only and category pages or related products - i.e. not all add-to-cart buttons.

Category page, e.g. `product-category/tshirts`:

<img width="1210" alt="Screen Shot 2020-06-19 at 1 46 12 PM" src="https://user-images.githubusercontent.com/4167300/85088057-404bb100-b233-11ea-8d65-3da9ffb7964e.png">

Also affects `my-account` order

[2020-06-19 01:52] haszari commented on #1331
Seeing the underline issue with 2.5.8 rc 1 also. This affects sections like `New In` and `Fan Favorites` on the homepage template. Examples:

<img width="1252" alt="Screen Shot 2020-06-19 at 1 52 07 PM" src="https://user-images.githubusercontent.com/4167300/85088381-12b33780-b234-11ea-88d2-a64fd1f76bdc.png">

<img width="1267" alt="Screen Shot 2020-06-19 at 1 52 29 PM" src="https://user-images.git

[2020-06-19 01:56] haszari commented on #1331
Since this is limited to specific product grid markup, perhaps we should look at migrating this page to using blocks. I suspect this issue is an interaction between older css and newer blocks-related css; perhaps we can simplify this by exclusively using blocks for these layouts.

[2020-06-19 10:57] citobori commented on #1357
I have also been seeing this "CRITICAL Uncaught" error for the past year over whatever version of the plugin has been current, as it has been kept up to date. The first was in June 2019 then from Feb 2020 it has become more regular. 2020 occurrences: 2 in Feb, 6 in Apr, 18 in May, 6 so far in June.
Examples from server error log. Some bracketed numbers () have changed:

`[11-Jun-2019 17:47:49 UTC]

[2020-06-20 00:34] jleo2095 commented on #691
Hi @haszari  can I look at the source code for the link you have created? I was trying to do something similar but it also creates a button like same with Dismiss

[2020-06-21 19:32] haszari commented on #1357
Thanks for reporting what you're seeing @citobori .

I agree that it would be great if we could track down the cause of this error and fix the underlying problem.

Do you have any more details or info that could help us reproduce the problem? For example, what pages/routes on your sites does it happen on. Can you reproduce the issue reliably - if so, what are the steps? Thanks for your help :)

[2020-06-21 19:37] haszari commented on #691
Sorry @jleo2095 - that site is long gone now.

I'm guessing I had something like this for my store notice:

[code]

[2020-06-21 19:47] haszari opened #1400 "Remove phpunit dependency (unused)"
## Describe the bug
We have a dependency on PHPUnit, but we don't have any PHP unit tests (or immediate plans to write any tests). [Renovate wants to update phpunit](https://github.com/woocommerce/storefront/pull/1389) so this has prompted us to remove it instead.

[2020-07-02 20:11] mikebronner opened #1411 "Product Pagination includes draft items."
**Prerequisites (mark completed items with an [x]):**
- [X] I have have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When duplicating an existing product, and saving it in draft status, so as not to show up in the catalog, it will still appear in the WooCo

[2020-07-03 00:03] haszari commented on #1411
Thanks for reporting this @mikebronner !

I've reproduced the issue on my test site.

<img width="1142" alt="Screen Shot 2020-07-03 at 12 00 46 PM" src="https://user-images.githubusercontent.com/4167300/86418650-ee238900-bd24-11ea-8d9a-ddada8cc61ca.png">

Linking in some other issues related to paging through products: #983 #1340 #1375

[2020-07-07 06:18] haszari commented on #1339
Could be fixed in Gutenberg: https://github.com/WordPress/gutenberg/issues/21931#event-3514907525

[2020-07-07 20:32] jessLundie opened #1417 "Sticky header enabled + long menus = menu items not accessible"
## Describe the bug

When sticky header is enabled in Powerpack, users are not able to access menu items in longer dropdown menus where the menu length is longer than the browser window. Instead, the header - including the dropdown navigation menu - sticks and menu does not scroll.

This issue was reported with Bistro, but is also visible on Storefront.

Reported in 3124174-zen.

Isolating the pro

[2020-07-12 12:06] uok opened #1420 "Button size: cart vs. checkout"
Hello,

Why does the button "proceed to checkout" on cart page have bigger padding/font-size/width compared to the "place order" button on the checkout page?

[2020-07-13 15:44] nerrad commented on #1203
Hi there, this issue has been open for a while with no response, and we were unable to reproduce.

I'm going to close this, but if there's anything to add please do leave a comment and we can consider re-opening.

[2020-07-13 15:44] #1203 closed

[2020-07-13 15:50] nerrad commented on #1226
I'm going to close this due to the age. If there are still issues with expected behaviour please do comment on this issue and we can consider reopening.

[2020-07-13 15:50] #1226 closed

[2020-07-13 15:53] nerrad commented on #1239
I'm going to close this due to lack of activity/response. If there are any updates, please do add a comment and we can consider reopening.

[2020-07-13 15:53] #1239 closed

[2020-07-13 16:15] nerrad commented on #1249
Hi there,

I realize this is a little bit after the fact but I do want to share that you had two people willing to help try to resolve this issue but your behaviour drove them away. It's a great opportunity to be introspective and reflect on how you communicated in this thread to produce a result that doesn't seem very beneficial to you.

I can understand how it'd be frustrating to not have things

[2020-07-13 16:15] #1249 closed

[2020-07-15 00:13] haszari opened #1423 "homepage start content contains invalid (broken) WooCommerce Blocks markup"
## Describe the bug
The Storefront homepage starter content uses WooCommerce Blocks for some page elements. The markup used includes shortcodes as a fallback, and this syntax is no longer valid.

Because of this, when the home page is opened in the block editor (aka Gutenberg), there are validation errors (`This block contains unexpected or invalid content.`) for various blocks - "New In" (latest

[2020-07-15 13:40] #1423 closed

[2020-07-16 15:10] arunsathiya opened #1427 "Full-sized product images fetched when loading a product page"
## Describe the bug

When opening a product page, the associated images are fetched in full size and they are resized before displaying on the frontend.

Is it expected that versions that weigh lesser are fetched instead?

Isolating the problem (mark completed items with an [x]):
- [x] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront them

[2020-07-17 18:38] nerrad commented on #1282
There hasn't been a reply to this issue for over two months. I'm going to close this for now but if there's any additional information that can be added to help us reproduce this please do leave a comment and we can consider reopening.

[2020-07-17 18:38] #1282 closed

[2020-07-17 18:39] nerrad commented on #1291
There hasn't been a reply for nearly 4 months. I'm going to close this issue. However if there's any additional information that can be added in response to the request please do add as comments to the issue and we can consider reopening.

[2020-07-17 18:39] #1291 closed

[2020-07-17 18:40] nerrad commented on #1293
I'm going to close this issue because there hasn't been a reply in nearly 4 months. Feel free to add a comment if the issue is still happening. We will consider reopening then.

[2020-07-17 18:40] #1293 closed

[2020-07-17 18:50] nerrad commented on #1340
While possibly related to #1411 it looks like we could still use more details for this specific reported issue. I'm going to close this for now because there hasn't been a reply from the reporter for nearly 3 months. The issue can still be commented on and re-opened if necessary.

[2020-07-17 18:50] #1340 closed

[2020-07-17 19:03] nerrad commented on #1357
Folks, I suspect these errors are happening while WooCommerce or the theme is being updated. There's a short window when updates are happening where visitors to a site might hit the website right as the files are being replaced and in that short window the Cart might not be available in memory.

Depending on the deploy strategy being used for site updates (Native updates in WordPress, or some othe

[2020-07-17 19:05] nerrad commented on #1361
In lieue of no response for roughly two months, I'm closing this issue (especially since it's fixed in #1319). If it pops up again a new issue can be created.

[2020-07-17 19:05] #1361 closed

[2020-07-17 19:16] nerrad commented on #1374
There hasn't been a response in over a month for this issue. I'm going to close the issue for now because there isn't anything actionable on our end yet. If anything has changed please do update the issue and we can consider reopening.

[2020-07-17 19:25] nerrad commented on #1375
I'm going to close this issue because it's not really related to Storefront as has been noted already. I agree things could maybe work better, but my early analysis would suggest that the import process needs to be modified so that the timestamp on imported products has a slight variation for each product during import (or use the dates provided in the import).

For now, the workaround is to modif

[2020-07-17 19:25] #1375 closed

[2020-07-17 19:29] nerrad commented on #1420
Hi there,

Would you be able to share some screenshots illustrating what you are seeing?

[2020-07-18 08:05] uok commented on #1420
Sorry, I found another plugin places the button at the end of the checkout form, which is outside the last div and therefore the default woo css is not applied.

[2020-07-18 08:06] uok commented on #1420
Sorry, I found another plugin places the button at the end of the checkout form, which is outside the last div and therefore the default woo css is not applied.

[2020-07-18 09:48] nerrad commented on #1420
I’m interpreting your reply meaning you found a solution, so I’ll close this issue. If I’ve interpreted incorrectly you can still leave a comment with more details about what the problem is and we can consider reopening.

[2020-07-18 09:48] #1420 closed

[2020-07-21 09:14] asafm7 opened #1429 "Add an option to set single product pagination image size for page optimization"
The function `storefront_single_product_pagination()` doesn't allow any control over the image size, and so the default `woocommerce_thumbnail` size is used.

The `woocommerce_thumbnail` size is too big for this context, and hence triggering "Serve scaled images" notification on Google PageSpeed.

[2020-07-22 19:19] mikeicode opened #1430 "Sticky header - WooCommerce product gallery popup issue"
## Describe the bug

When you have the sticky header enabled the header is a higher z-index than the product gallery popup, so the popup is not fully visible.

- [x] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- [x] I can reproduce this bug consistently using the steps below.

## To Reproduce
Steps to reproduce the

[2020-07-28 08:21] #1364 closed

[2020-07-29 21:07] haszari commented on #1188
Reopening this as we've had more reports of this same error on WordPress.com eCommerce plan sites.

It's likely that these fatal errors are firing when WordPress is trying to render an invalid url. It's unlikely that this is affecting normal shopper / admin page requests - potentially caused by a bad incoming link or bot traffic.

In Storefront we can protect against the fatal error by adding a pr

[2020-07-29 21:09] haszari commented on #1188
Added to 2.6.0, feel free to bump to next release if 2.6 is too tight :)

[2020-07-29 21:48] nerrad commented on #1188
2.6.0 seems like a good target 👍

[2020-07-29 23:51] haszari opened #1432 "Remove sample products from Storefront onboarding"
## Is your feature request related to a problem? Please describe.
Storefront has a rich onboarding flow, which imports products and generates store pages (and more).

As WooCommerce core has an [improved onboarding wizard](https://docs.woocommerce.com/document/woocommerce-setup-wizard/), there's less need for Storefront to assist here. And ideally any theme-specific onboarding would integrate with

[2020-07-30 09:55] Ismail-elkorchi opened #1433 "Remove Grunt in favor of using npm scripts"
## Is your feature request related to a problem? Please describe.
The Grunt task runner is built on top of Node.js, and frequently, the Grunt packages are actually just wrappers for the Node.js packages. As an example, the logic of [grunt-rtlcss](https://github.com/MohammadYounes/grunt-rtlcss) is built into [rtlcss](https://github.com/MohammadYounes/rtlcss). That extra tool and layer of abstractio

[2020-07-31 11:26] Aljullu opened #1438 "Product Search block: different styles between the editor and the frontend"
Reported by @nerrad in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/2938#issuecomment-665642807.

The appearance of the search field varies between the editor and frontend:

_Editor:_
<img width="818" alt="Image 2020-07-29 at 8 27 18 AM" src="https://user-images.githubusercontent.com/1429108/88800078-8fabc800-d175-11ea-8ff3-7f024a760ccc.png">

_Frontend:_
<img width="80

[2020-08-01 16:08] nerrad commented on #1433
I agree with this. Grunt is a legacy build process from when Storefront was first created. Our team eventually will be reviewing all the repos we manage and attempt to get as much of them on common build processes/configuration but it's currently low on our priority list given the tasks we currently have.

Thanks for making sure this is on our radar though!

[2020-08-04 17:01] #1188 closed

[2020-08-17 18:29] helgatheviking opened #1444 "Add icons to store notices"
## Is your feature request related to a problem? Please describe.
Default WooCommerce adds icons to the notices added via `wc_add_notice()`. It's my understanding the icons are helpful to folks who are color-blind since they may not be able to distinguish between the different color codes for notice|error|success notices. These are added in WooCommerce's woocommerce.css stylesheet, but not present

[2020-08-17 20:03] haszari commented on #1444
Thanks for the report @helgatheviking  - that's a great idea.

[2020-08-17 20:12] helgatheviking commented on #1444
I've got an issue up for the Twenty Twenty/default themes too: https://github.com/woocommerce/woocommerce/issues/27102

[2020-08-21 01:44] haszari opened #1449 "Add usage tracking to gain insight into feature popularity/usage"
## Is your feature request related to a problem? Please describe.
Storefront has a lot of awesome features and facilities. We'd like to better understand the usage and popularity of each feature/element.

## Describe the solution you'd like
Use wc-admin's tracks facility to send events when features are used. Note this will only occur for sites that opt-in to usage tracking, and will only track da

[2020-08-25 12:51] senadir commented on #1430
This was solved as of Powerpack 1.5.0, the status you included mention that the plugin version is 2.0.0 but the latest available version is 1.5.0, and I can't reproduce it there, can you confirm?

[2020-08-25 13:26] GlennMartin1 opened #1451 "Notice about template files being out of date."
## Describe the bug
In my Dashboard, I am getting this warning/notice:
![wp theme contains outdated WC templates](https://user-images.githubusercontent.com/30901407/91178929-d7aa0600-e6b3-11ea-982c-fd198249e181.jpg)

This occurs with:
WordPress 5.5.0
WooCommerce 4.4.1
Storefront 2.6.0
Homestore 2.0.32 (WC child-theme)

General info about this error:
https://cinchws.com/theme-contains-outdated-copi

[2020-08-25 16:28] mikeicode commented on #1430
@senadir The plugin does show 2.0:

https://d.pr/i/0FvyDM

This is the version that comes with the eCommerce plan on .com, perhaps that's the difference? I just checked and the same problem exists.

[2020-08-25 20:20] haszari commented on #1432
This is still quite a useful feature, and it's not currently available in Woo core. Marking this issue as blocked until an equivalent feature is implemented in core or wc-admin. Related issue: https://github.com/woocommerce/woocommerce-admin/issues/5022

[2020-08-25 20:33] haszari commented on #1451
Thanks @GlennMartin1 ! I'm going to move this issue to the Homestore repo. Sorry - this is a private repo, so you won't be able to see it.

[2020-08-26 10:26] #1411 closed

[2020-08-26 22:12] haszari commented on #1432
🎉Update: Recent versions of WooCommerce core do include a [sample products task in the onboarding/task list](https://github.com/woocommerce/woocommerce-admin/issues/5022#issuecomment-681033921): 💜

<img width="1169" alt="Screen Shot 2020-08-27 at 10 04 07 AM" src="https://user-images.githubusercontent.com/4167300/91361948-803f9d80-e84d-11ea-8a92-bf7945404591.png">

Thanks @pmcpinto for pointing th

[2020-08-27 07:28] Aljullu commented on #1255
Closing this since it was fixed in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/2366.

[2020-08-27 07:28] #1255 closed

[2020-08-27 16:08] otpidusprime opened #1454 "Powerpack: Header Customizer's Primary Navigation has narrow width"
## Describe the bug

Isolating the problem (mark completed items with an [x]):
- [x ] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- [x ] I can reproduce this bug consistently using the steps below.

## To Reproduce
Steps to reproduce the behavior:
1. Go to **Appearance → Themes** or **My Site/s → Design → Themes** a

[2020-08-27 18:16] haszari commented on #1432
Removing blocked status from this. Because equivalent functionality is available in core, to all themes, with a more explicit UI, we can remove the sample products from Storefront.

We should take care when removing the feature to ensure there's no downside or impact on Storefront users. Documentation may also need updating.

[2020-09-02 15:37] #1444 closed

[2020-09-02 22:39] haszari opened #1457 "Checkout block error notice dismiss X is not right-aligned"
## Describe the bug
The notices displayed in the Checkout block (in WooCommerce Blocks plugin) sometimes have a dismiss `x` button.

In Storefront this is rendering next to the text; it should be right-aligned. It's working correctly in Twenty Twenty so I'm reporting as an issue against Storefront.

<img width="1229" alt="Screen Shot 2020-09-03 at 10 30 58 AM" src="https://user-images.githubuserco

[2020-09-07 14:40] senadir commented on #1457
This works fine in TwentyTwenty because it's fixed there, but this issue comes from the Checkout block not defining flex correctly, see Threads theme
![image](https://user-images.githubusercontent.com/6165348/92398416-6c831980-f120-11ea-9303-a665d5d54672.png)
I'm moving this to WooCommerce Blocks repository.

[2020-09-09 14:25] katinthehatsite commented on #1301
I ran into the same issue in 23417092-hc

In this case, it seems that the Customizer settings under Typography > Hero heading color are overriding the individual colors set on the blocks.

E.g. if you set the Hero heading color to red under Typography:

<img width="1432" alt="Screen Shot 2020-09-09 at 10 22 40 AM" src="https://user-images.githubusercontent.com/25575134/92611109-72930a80-f286-11ea-

[2020-09-15 02:07] haszari commented on #1454
Thanks for reporting this @otpidusprime !

This looks like it's a Storefront Powerpack issue. I'm moving it to the Powerpack repository. Note – this repo is private, so you may not be able to follow the issue.

[2020-09-16 20:35] haszari commented on #1417
Moving this issue to Powerpack repo as it looks like that's the cause and where the fix needs to be made.

[2020-09-16 20:39] haszari commented on #1367
Closing - we're not currently planning on changing the default page template. If/when we do we can revisit this.

[2020-09-16 20:39] #1367 closed

[2020-09-16 23:28] #1356 closed

[2020-09-17 21:20] jessemarco opened #1465 "npm run deploy with error"
I cloned repository, checkout branch for release/2.7.0 then install dependencies and can not use "npm run deploy"

Loading "Gruntfile.js" tasks...ERROR

Warning: Task "deploy" not found. Use --force to continue.

Aborted due to warnings.
npm ERR! code ELIFECYCLE
npm ERR! errno 3
npm ERR! storefront@2.7.0 deploy: `grunt deploy`
npm ERR! Exit status 3
npm ERR!
npm ERR! Failed at the storefront@2.7.0

[2020-09-17 21:28] #1465 closed

[2020-09-17 21:45] jessemarco opened #1466 "Development Environment failed"
I cloned repository, checkout branch for release/2.7.0 then install dependencies with npm install and I can not use "npm run build"

jesse@jesse:/var/www/html/storefront$ npm run build

    storefront@2.7.0 build /var/www/html/storefront
    grunt

Running "stylelint:all" (stylelint) task
Warning: Unexpected reserved word Use --force to continue.

Aborted due to warnings.
npm ERR! code ELIFECYCLE

[2020-09-17 22:13] haszari commented on #1466
Hi @jessemarco  – thanks for participating!

Note that if you want to use 2.7.0 we recommend installing the [production build from WordPress.org](https://wordpress.org/themes/storefront/). Can you give a bit more info about why you want to build the `release/2.7.0` branch?

Here's the the full set of steps for setting up a local build of storefront:

1. Clone this repository, e.g. `git clone git@g

[2020-09-17 22:13] #1466 closed

[2020-09-18 08:20] jessemarco commented on #1466
I believe there is somewhere error here is my steps:

git clone https://github.com/woocommerce/storefront.git

cd storefront/

npm install

php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
php -r "if (hash_file('sha384', 'composer-setup.php') === '795f976fe0ebd8b75f26a6dd68f78fd3453ce79f32ecb33e7fd087d39bfeb978342fb73ac986cd4f54edd0dc902601dc') { echo 'Installer verified';

[2020-09-18 08:33] jessemarco commented on #1466
I had to remove stylelint task in grunt file, that fixed my problem.

[2020-09-19 04:27] nielslange commented on #1235
@haszari You marked this issue with `Priority: High` and `Type: Bug`. I just compared the behaviour of Storefront with the behaviour of the WordPress default themes.

<table>
<tr>
<td>Storefront:
<br><br>

![#1235-storefront](https://user-images.githubusercontent.com/3323310/93658801-058f2a00-fa69-11ea-902e-fba2e59293f3.png)
</td>
<td>Twenty Twenty:
<br><br>

![#1235-twenty-twenty](https://user-im

[2020-09-19 06:24] nielslange commented on #1427
@arunsathiya I looked up this case and as the full-size images are used for the Lightbox feature, reducing their size would lead to smaller Lightbox images.

In your description above you mentioned _"Notice that the gallery images are fetched in full sizes"_. This is correct as these images server as Lightbox images as well. Using the correct image-size for the gallery images, the product image an

[2020-09-19 08:16] nielslange commented on #1429
Hello @asafm7 👋 Thanks for reporting this issue. I created the PR https://github.com/woocommerce/storefront/pull/1472 which needs to be checked and possibly adjusted. Cross fingers that testing goes smooth and this change makes it into the next release. 🤞😀🤞 Again, thanks a lot for reporting this issue. I see that this is your first reported issue in this repo and your report is much appreciated. 🙌

[2020-09-19 09:15] nielslange commented on #1432
@haszari Even though recent WooCommerce versions have sample products in their onboarding list, the Storefront starter content is doing much more than simply adding test products to the site. I just created the following two test cases:

1. Storefront with starter content
1. Storefront without starter content

### Steps to reproduce both cases

1. Create a fresh WordPress installation
2. Install a

[2020-09-19 09:25] nielslange opened #1473 "Fix PHP linting warnings"
Running `npm run lint:php` does not fully run currently and will be exited earlier with the following log:

[code]

Fixing `(PHPCompatibility.ParameterValues.RemovedImplodeFlScript phpcs --extensions=php -s -p handling the phpcs event returned with error code 1 exibleParamOrder.Deprecated)` results in another exit due an error code. Fixing that one, results yet in another exit, and so on. I'm read

[2020-09-19 22:27] asafm7 commented on #1429
Thank you @nielslange !
Looks great.

[2020-09-20 19:54] haszari commented on #1466
Possibly you're running an older version of nodejs?

[2020-09-20 20:14] haszari commented on #1432
I agree @nielslange  - the focus of this issue is the sample products only. Reading the description I see that's not very clear, so I've updated it!

[2020-09-20 20:20] haszari commented on #1473
I'm not sure if we need an issue for this @nielslange - how is this blocking you or affecting users of the plugin?

That said, I think it's a good idea to iterate and fix these issues over time. However I wouldn't want to rush fixing these warnings - linter warnings can be very subtle and care should be taken.

[2020-09-21 00:33] haszari commented on #1235
Yes. Note – how galleries are rendered is arguably theme dependent, i.e. a theme can decide how images in galleries should be positioned/laid out. So although Storefront is different, it's arguably not "wrong", and possibly by design.

That makes sense to me – we haven't had lots of reports of this issue affecting stores. We can always open a new issue if this becomes a higher priority or impacts

[2020-09-21 00:33] #1235 closed

[2020-09-21 01:24] haszari commented on #1429
Howdy @asafm7 – thanks for your interest in optimising Storefront!

Can you include an example error/warning/notification from Google PageSpeed Insights (or another profiling tool)?

I tried running PageSpeed Insights against my test site and didn't see this specific issue (though I did see lots of other unrelated issues).

[2020-09-21 05:03] asafm7 commented on #1429
Hi @haszari, you are right, PageSpeed doesn't show it when you use it directly.

But [GTMetrix](https://gtmetrix.com/reports/simply-hobbies.com/at6Ezh7b) does:
![image](https://user-images.githubusercontent.com/14274769/93734056-6ee57900-fbe0-11ea-92a1-742e66713f8c.png)

[2020-09-21 05:17] asafm7 opened #1475 "WooCommerce.woff is loaded via @font-face - which hurts site performance and modularity"
Hi,

WooCommerce.woff is loaded via `@font-face` in `woocommerce.css`:
![image](https://user-images.githubusercontent.com/14274769/93734425-d0f2ae00-fbe1-11ea-89f7-0afc0093a936.png)

This means I can't remove and replace it, without removing `woocommerce.css`.
Plus, I can't optimize the way it is loaded, although optimization indeed seems to be needed - from PageSpeed:
![image](https://user-images

[2020-09-21 05:18] jconroy opened #1476 "`Storefront_Custom_Radio_Image_Control` customizer buttons don't work in IE11"
## Describe the bug
Customizer controls that are built from `Storefront_Custom_Radio_Image_Control` don't appear to work in IE11.

Examples of controls that implement this include Storefront General Layout and Storefront Reviews layout

![Screen Shot 2020-09-21 at 2 41 27 pm](https://user-images.githubusercontent.com/355014/93734519-aff97f80-fc18-11ea-87b3-f8d4c19079d6.png)

![Screen Shot 2020-09-

[2020-09-21 09:36] #1473 closed

[2020-09-21 13:46] jacoswan opened #1477 "Customizer: Items are added to cart 2 at a time when Enable AJAX add to cart is active"
## Describe the bug
Items are added two at a time when **Enable AJAX add to cart...** is checked.
Happens in Firefox, Safari, but **not** Chrome.

Marked as high, as low priority description doesn't fit.

Isolating the problem (mark completed items with an [x]):
- [x] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- [x

[2020-09-22 02:04] haszari commented on #1476
Dang! Perhaps we have support a more limited range of browsers for admin – is this control used on the front end anywhere? But that's a bit of a cop-out, especially since this is silently failing in IE11.

I don't see anything in the [history for this file](https://github.com/woocommerce/storefront/commits/a5f9c57962be2628b4f1d3c2ed5318612897fb58/inc/customizer/class-storefront-customizer-control-

[2020-09-22 02:13] haszari commented on #1477
Hi @jacoswan - thanks for the report!

I'm having trouble reproducing this. I'm testing with Safari, and when I click add-to-cart in the Shop page, while viewing in Customizer preview, I can't reproduce the issue. Each time I click and add to cart button, I only get a single item added to the cart (as expected).

Also can you provide a bit more info about how this bug impacts stores? If it's only

[2020-09-22 02:19] haszari commented on #1475
Hi @asafm7 – thanks again for suggesting ideas for how to optimise performance of Storefront. Also if you provide more info about how these performance issues affect your site (e.g. sales/engagement impact) then that will help us understand and prioritise.

If you have a specific solution in mind, please feel free to suggest or even open a PR. For example, would using `font-display` directive (e.g

[2020-09-22 02:45] haszari commented on #1328
@Aljullu do you think this is specific to Storefront? I'm thinking it might be better to fix this in WooCommerce core.

I tested in Seedlet, Twenty Twenty & Twenty Seventeen and saw similar issues (sometimes I hacked in extra content to stress-test!).

<img width="590" alt="Screen Shot 2020-09-22 at 2 33 21 PM" src="https://user-images.githubusercontent.com/4167300/93839281-93c11580-fce0-11ea-85e4

[2020-09-22 04:55] asafm7 commented on #1475
Hi @haszari - thank you for your reply.

About the performance issue - as seen in the screenshot, this can potentially save 10s on page loading time, which of course is an important factor for performance. My project is in its very early stages, so I can't yet say "this issue increases bounce rate by such and such".

About the improvements, I think there are 2 aspects:
1. Speed - I'm not an expert

[2020-09-22 13:02] nielslange commented on #1328
@juliaamosova Could you move this issue from this repo into https://github.com/woocommerce/woocommerce? Based on https://github.com/woocommerce/storefront/issues/1328#issuecomment-696480929 and https://github.com/woocommerce/storefront/pull/1470#pullrequestreview-493095378, @haszari and I believe that it would be better to change the notice functionality for mobile devices directly in WooCommerce

[2020-09-22 13:20] juliaamosova commented on #1328
Sounds good, thanks @nielslange. Moving this issue to the WooCommerce Core repo.

[2020-09-22 19:48] haszari opened #1480 "Change default / main branch to `trunk` (was `master`)"
## Describe the bug
At Automattic we're standardising on `trunk` for the default branch for our repos, to avoid the unfortunate connotations of the term `master` (see twitter threads for more background: [mislav](https://twitter.com/mislav/status/1270388510684598272); [Una Kravets](https://twitter.com/Una/status/1271180494944829441)). The plan is to align Woo and other A8C products to use the name

[2020-09-22 20:38] #1400 closed

[2020-09-22 22:37] haszari commented on #1480
Renamed local branch trunk and pushed to origin:

- `git branch -m master trunk`
- `push -u origin trunk`

[code]

[2020-09-22 22:39] haszari commented on #1480
Updated default branch, and adjusted branch protection rule to protect force-push/accidental delete on `trunk` branch:

<img width="1218" alt="Screen Shot 2020-09-23 at 10 38 44 AM" src="https://user-images.githubusercontent.com/4167300/93944499-0be31600-fd89-11ea-9c5a-50e7277ece0a.png">

[2020-09-22 22:40] haszari commented on #1480
FYI @jconroy – let me know how you want to handle this for all the other Storefront family repos, and if I can help with that 😃

[2020-09-22 22:51] haszari commented on #1480
All open PRs have been updated so target branch is `trunk` 🐘.

Closing - this is now completed 🏁. If anyone sees issues due to this change please reopen the issue 🤞

[2020-09-22 22:51] #1480 closed

[2020-09-23 07:53] jacoswan commented on #1477
Howdy @haszari

Peculiar. I can recreate this on all my browsers,  Here's my experience in Safari : https://d.pr/i/KVhNa8

It was recorded on my Pressable site, and I can recreate it in all my browsers. Alas, it doesn't affect the front-end, so have added the low priority tag for now.

[2020-09-23 09:21] nielslange commented on #1477
Hello @jacoswan 👋

Thanks for the video. This is very helpful.

[2020-09-23 20:09] opicron commented on #1235
Gutenberg defaults behaviour is stretch on mobile. Its not theme dependent at all in the basic sense if you approach it from Gutenberg. I find it odd that the Gutenberg CSS is being overriden in this case.

[2020-09-23 22:16] pmciano commented on #1270
Something similar was reported in 21600190-hc / 3343680-zen.

On desktop, a full-width cover block image appears full width on all pages (backend and frontend), except for the Shop page (backend appears full-width, frontend is not full width).

On mobile, the full-width cover block images do not appear full width on any page (frontend).

If this requires a separate issue, let me know.

[2020-09-25 14:29] senff opened #1482 "Change fake checkboxes from Filter By Attribute widget"
## Is your feature request related to a problem? Please describe.
When adding the Filter By Attribute widget to the sidebar, it gives the impression that the boxes in front of each attribute are clickable, or can be toggled: https://d.pr/i/Ig5yG2

This is not the case; they can't actually be clicked or toggled -- only the attribute **name** can.
After you do that, the box *is* checked, but only to

[2020-09-29 00:36] haszari commented on #1482
I've reproduced this and can see how it's a little frustrating / misleading. It would be nice if the whole row was clickable; I suspect that would be best fixed in WooCommerce Core.

I had a quick test in some other themes and saw a similar issue in Twenty Seventeen – the icon and number are not clickable, only the attribute itself.

<img width="145" alt="Screen Shot 2020-09-29 at 1 24 54 PM" src=

[2020-09-29 00:46] haszari commented on #1475
Let's try `font-display: swap` - might be a low-risk improvement. If this doesn't cause issues, and is a net positive according to benchmark/performance tools, might be worth doing. Note there's no urgency to try this, though I've added to the list of possible issues to include in 2.8.0.

cc @asafm7 - Based on your discussion above, you might be better off writing a child theme or implementing you

[2020-09-29 01:45] haszari commented on #1473
To be clear – I think we should fix these warnings, but that we don't need to log an issue specifically focused on this. If we do log issues for these we should target specific warnings/errors or specific problems (i.e. could add a specific issue for a problematic file or a tricky warning rule).

[2020-09-29 02:07] haszari commented on #1432
I've started [prototyping this on a branch](https://github.com/woocommerce/storefront/pull/1484). As I explore the code more, I see that this could be a pretty risky change:

- There's a [filter hook `storefront_starter_content`](https://github.com/woocommerce/storefront/blob/trunk/inc/nux/class-storefront-nux-starter-content.php#L260), so some child themes or customizations might be building on t

[2020-09-29 02:28] haszari commented on #1432
Things seem to work but it's definitely a less friendly experience.

The Storefront onboarding works fine, but the end result is a sad home page with no products.

<img width="1164" alt="Screen Shot 2020-09-29 at 3 26 08 PM" src="https://user-images.githubusercontent.com/4167300/94505680-1c532f00-0268-11eb-94e8-cbbfe2e34cd4.png">

After that I ran the `Import products` step from WooCommerce onboar

[2020-09-29 04:31] asafm7 commented on #1475
Thanks @haszari .

I am, of course, using a child theme. But it doesn't help with the issue.

**Even with a child theme, as long as the font file is imported using `@font-face`, I have no way of using the core `woocommerce.css` file, without loading the `WooCommerce.woff` font file.**

My only option is overriding `woocommerce.css` altogether, which means I won't get updates for it. This is exactl

[2020-09-29 12:50] senff commented on #1482
@haszari I think that Twenty Sixteen is a particular example of where it's done well, where selecting an attribute enables it, and selecting the "X" removes it again:
https://d.pr/i/62GVZD

[2020-09-29 13:45] juliaamosova commented on #1482
Thanks for the detailed explanation of the issue with screenshots and gifs @senff and @haszari. I agree that it is probably best to be fixed in WooCommerce Core. Although yes, that would be a `low` priority. But it is possible that someone fro the community would fix it sooner than us.

Moving the issue to the WooCommerce Core repository.

[2020-10-01 17:38] haszari opened #1485 "WordPress 5.6 compatibility – test, log any issues"
[WordPress 5.6](https://make.wordpress.org/core/2020/08/13/wordpress-5-6-release-planning/) is coming! The goal of this issue is to review WP 5.6 for any relevant changes and test Storefront to confirm everything's working correctly; and log any follow up issues if needed. Probably best to start this testing close to WP 5.6 RC – 17 Nov.

Widgets areas are changing – [now edited with block editor](

[2020-10-01 19:01] haszari opened #1486 "PHP8 compatibility - investigation"
PHP v8 is coming - scheduled for release Nov 26 2020!

- https://wiki.php.net/todo/php80
- https://www.php.net/archive/2020.php#2020-10-01-4
- https://stitcher.io/blog/new-in-php-8
- https://kinsta.com/blog/php-8/
- https://www.ionos.com/digitalguide/websites/web-development/php-8/

The goal of this issue is to investigate what's changed, how Storefront might be impacted, and log specific follow u

[2020-10-04 09:17] philnick206 opened #1487 "Storefront: Heading Block color settings not working within Cover Block"
When adding a Heading block within a Cover block, the color settings for the heading are shown in the editor but ignored when the page is viewed.

Isolating the problem (mark completed items with an [x]):
- [x] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- [x] I can reproduce this bug consistently using the steps be

[2020-10-04 14:33] nielslange opened #1488 "Rename @wordpress/env commands"
## Is your feature request related to a problem? Please describe.

This is an improvement to the existing @wordpress/env commands.

## Describe the solution you'd like

We're currently using the following @wordpress/env commands:

[code]

This is rather confusing as the command name implies that the e2e tests will be started. However, not the e2e test, but the environment will be started. Therefor

[2020-10-04 15:17] nerrad commented on #1488
Thanks for creating this issue @nielslange. I'd like to see this happen. Another benefit of this change is any `wp-env` available commands that come in future versions will be exposed automatically. As noted, this also creates some consistency with the implementation of this package in other WordPress and A8C projects.

[2020-10-04 19:39] haszari commented on #1487
Yep, I can totally reproduce this. Black background white text is particularly unreadable:

<img width="1431" alt="Screen Shot 2020-10-05 at 8 38 27 AM" src="https://user-images.githubusercontent.com/4167300/95025430-35cffd00-06e6-11eb-94b7-2aabec7958fc.png">

<img width="1146" alt="Screen Shot 2020-10-05 at 8 38 15 AM" src="https://user-images.githubusercontent.com/4167300/95025433-3799c080-06e6-

[2020-10-04 20:01] haszari commented on #1488
Thanks @nielslange  - adding the generic `npm run wp-env` alias sounds like a good idea to me.

The e2e tests depend on the wp-env environment being up, so I'd suggest leaving the other commands in place and/or adding docs for e2e.

[2020-10-04 23:45] nerrad commented on #1488
The pattern in Gutenberg and elsewhere is to [include docs about environment for the e2e tests](https://github.com/WordPress/gutenberg/blob/master/docs/contributors/testing-overview.md#end-to-end-testing). It's worth noting that e2e tests are NOT necessarily coupled to using `wp-env` for executing the tests. It's technically feasible for _any_ environment to be configured to be the url:port config

[2020-10-05 01:20] nielslange commented on #1488
I didn't plan to touch any other commands, @haszari.

[2020-10-05 12:08] hteumeuleu commented on #1475
@asafm7 Hi! One thing you can try is redeclare the `@font-face` in your own styles with a `local()` `src` only. This way the browser should not load the WooCommerce font files. Here’s an example:

[code]

Here’s [a working example](https://www.hteumeuleu.fr/wp-content/uploads/2020/10/font-face-override.html) (unrelated to WooCommerce and storefront).

[2020-10-05 13:16] asafm7 commented on #1475
Hi, @hteumeuleu , it is an interesting solution, but unfortunately, I couldn't make it work. Any ideas as to why? Were you able to get it to work for the same file?

I tried the suggestions made here, but it didn't work still:
https://stackoverflow.com/questions/16901500/overriding-font-face-src-url

[2020-10-05 13:38] #1488 closed, assigned to nielslange

[2020-10-05 14:15] hteumeuleu commented on #1475
@asafm7 You're right! It seems a bit more complicated in the context of a storefront child theme. I made a test by creating a new child theme with a single `style.css` file with the following content:

[code]

The font files from WooCommerce.css seems to be ignored in Firefox, but not in Chrome. However, if I put a valid path in the `src` from inside my child theme folder, Chrome and Firefox will

[2020-10-05 15:04] asafm7 commented on #1475
Thank you @hteumeuleu,

As for now, I can't think of another good idea. And anyway it seems unpredictable and browser-dependent.

@haszari maybe we can conclude that `@font-face` is not the correct way for importing font files, because it is not modular?

Thanks,
Asaf

[2020-10-06 23:47] #1396 closed

[2020-10-13 12:19] nielslange opened #1497 "Use @wordpress/browserslist-config in .browserslistrc"
## Is your feature request related to a problem? Please describe.

Feature request

## Describe the solution you'd like

At the moment, https://github.com/woocommerce/storefront/blob/trunk/.browserslistrc holds the definition of supported browsers hard coded. A better way would be to use [@wordpress/browserslist-config](https://www.npmjs.com/package/@wordpress/browserslist-config) to avoid having

[2020-10-16 09:50] Aljullu opened #1500 "Shop page: products and categories have a different font size"
The font size of product and category titles are different in the shop page (16px _vs_ 15.4px). I could track the issue down to [this commit](https://github.com/woocommerce/storefront/commit/c3c5c9fcb66c10fe6a597a041532464ba59950db#diff-14c1b3426185421b6013732dc3131179a5b4c801824af19dfe06f5419ab5e0a9L308), when product title font size was updated but category title font size wasn't.

## To Reprodu

[2020-10-16 12:17] Aljullu commented on #1342
I was reviewing #1468 from @nielslange, while it looks good, I'm not sure this is something that has to be fixed in Storefront, I could reproduce the issue in other themes as well.

For example, these screenshots are on mobile (viewport width of 350px):

_Twenty Twenty:_
![imatge](https://user-images.githubusercontent.com/3616980/96256888-bb428f80-0fb9-11eb-811b-9b6e611a93c3.png)

_Twenty Nineteen

[2020-10-16 13:00] t1000upgraded commented on #1475
I'm having this exact same issue and don't know what to do :(

[2020-10-18 19:46] haszari commented on #1342
Sounds like it would be best to fix it in Stripe plugin - good thinking @Aljullu, I agree 😃

[2020-10-19 09:00] #1500 closed, assigned to Aljullu

[2020-10-19 16:30] patzu commented on #903
I have the same problem in Wordpress 5.5.1, How to solve this issue?

[2020-10-21 11:01] Aljullu opened #1509 "Inconsistent sale badge background"
## Describe the bug
The sale badge has a white background in the blocks but looks transparent everywhere else.

## To Reproduce
1. Make sure you have at least one product on sale.
2. Create a page with the _Handpicked products_ block and select a product on sale.
3. View it in the frontend and notice the sale badge has a white background.
4. Go to the single product page and inspect the _related p

[2020-10-21 12:52] lordspace opened #1511 "Top menu navigation : Dark background with dark font - barely visible"
Just installed WooCommerce and storefront and the top menu is barely visible ?!?.
https://www.loom.com/share/a2fdb482ed274f97860d74f8b595e206?from_recorder=1
Note: I've edited the site address a little bit.

![image](https://user-images.githubusercontent.com/137558/96721402-c11ee300-13b4-11eb-94a9-495d807b27c9.png)

[2020-10-21 14:57] Aljullu commented on #1511
Hi there @lordspace, did you use the customizer in order to achieve those colors? In the customizer, when you change the header background, you should be able to change the header text color as well:

![imatge](https://user-images.githubusercontent.com/3616980/96737858-6be7cf00-13be-11eb-92cb-640aeaec4d72.png)

[2020-10-21 15:46] Aljullu opened #1512 "WordPress 5.6 compatibility – editor width doesn't change based on full-width/default template"
## To Reproduce
1. Create a new page.
2. In the sidebar, open the _Page Attributes_ panel and switch between the _Default template_ and the _Full Width_.
3. Notice the editor width doesn't change as it used to in WordPress 5.5.

## Screenshots
_WordPress 5.5:_
![Peek 2020-10-21 17-22](https://user-images.githubusercontent.com/3616980/96744012-def44400-13c4-11eb-82a0-cadd03657ffa.gif)

_WordPress 5

[2020-10-21 15:51] Aljullu commented on #1485
I tested Storefront with WordPress 5.6 and I could only find one issue (#1512).

Notice this feature has been punted to WordPress 5.7: https://core.trac.wordpress.org/ticket/51506.

[2020-10-21 15:54] Aljullu commented on #1486
I tested Storefront with PHP 8 and I wasn't able to find any issue neither any PHP warning related to it.

[2020-10-21 17:44] Aljullu commented on #1512
The issue happens because when `editor.js` is loaded, the settings from `wp.data.select( 'core/editor' ).getEditorSettings()` have `alignWide: false`, even though it should be true ([relevant part of the code](https://github.com/woocommerce/storefront/blob/trunk/assets/js/src/editor.js#L43)).

Seems to be related to: https://github.com/WordPress/gutenberg/issues/21267.

[2020-10-22 03:39] lordspace commented on #1511
@Aljullu thank you for the suggestions. The defaults should set in a such a ways so it runs without having to do that step.

[2020-10-22 08:00] Aljullu commented on #1511
The default background color is `#ffffff` and the text color `#404040`, ensuring there is enough contrast. If the store owner changes the background color, I think it's fair to expect they will check if the text color needs to be changed as well.

I will proceed closing this issue, but feel free to ping me if you think I missed something. :slightly_smiling_face:

[2020-10-22 08:00] #1511 closed, assigned to nobody

[2020-10-22 08:27] lordspace commented on #1511
If those are the defaults why the text is not visible?

[2020-10-22 10:39] #1487 closed, assigned to nobody

[2020-10-22 11:05] Aljullu commented on #1511
Unfortunately, I'm unable to explain what happened in your specific store, but my guess is that at some point you or somebody else modified the header background? If you do a clean install of WP+WC+Storefront the default header background should be `#ffffff`.

[2020-10-22 17:47] nerrad commented on #1512
Albert, looking at the code you linked to in Storefront, it looks like Storefront only checks the editor settings when the dom is ready so my guess is that the problem here is Storefront's reliance on `wp.domReady` vs subscribing to the selector change?

I think there were some changes to the rendering process in Gutenberg that is likely affecting the utility of the `wp.domReady` event for this us

[2020-10-22 19:49] nerrad commented on #1512
It looks like there's more involved here than just the value returned from `wp.data.select( 'core/editor' ).getEditorSettings()`. When I use the following code:

[code]

...the dom updates for the blocks as expected but it doesn't look like the styles set by the built `gutenberg-editor.css` will apply as expected for WordPress 5.6 because the layout html has changed with Gutenberg in the editor (s

[2020-10-24 03:32] nielslange commented on #1342
Good catch, @Aljullu. I also think that addressing this issue in https://github.com/woocommerce/woocommerce-gateway-stripe/ makes the most sense.

[2020-10-26 22:51] ObliviousHarmony opened #1519 "Font urls not respecting WP_PLUGIN_DIR / WP_PLUGIN_URL"
@GeoJunkie commented on [Mon Oct 26 2020](https://github.com/woocommerce/woocommerce/issues/28097)

Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
-

[2020-10-27 10:57] Aljullu commented on #1512
Thanks for investigating this @nerrad, I created a work-around so it works with WP 5.6 in #1520, but I'm not really happy with the solution since it seems quite 'fragile' and it might break in future WP updates. I explained my worries with more detail in the PR.

I did a quick search and I think only FSE blocks support this feature, so my understanding is that this is not something we need to acco

[2020-10-27 14:34] nerrad commented on #1512
Hmm right. I think I jumped to an incorrect conclusion for what I was observing with the Quote block html structure pre WP 5.6 and post WP 5.6.

[2020-10-27 22:23] haszari opened #1521 "Update node/npm versions in package.json.engines"
https://github.com/woocommerce/storefront/blob/f6db3d25597e246ae52e375e2fa362da634efa00/package.json#L62-L65

Very very old min versions. Should probably update to LTS.

I wonder if there's a bot that can help maintain these, I think I was assuming RenovateBot would notice this!

[2020-10-29 13:07] danhamermusic opened #1522 "Social Media Icons"
Social Media

[2020-10-29 13:08] #1522 closed, assigned to nobody

[2020-10-29 20:34] yeasinalam commented on #67
I Have this problem, how I short out it?

[2020-11-02 14:02] Aljullu commented on #1512
As discussed in #1520, instead of trying to fix this feature for WP 5.6, we will completely remove it. See #1525 for a removal PR.

[2020-11-02 18:15] Aljullu commented on #1521
@haszari is it ok if I move this issue to milestone 3.0.0? I missed this issue last week and I'm wary about rushing a fix for it into 2.9.0 whose RC is planned for tomorrow.

[2020-11-02 18:37] haszari commented on #1521
@Aljullu I agree, best not to rush it - we can catch this early in 3.0.0 👍

[2020-11-03 08:29] EdithAllison opened #1527 "Add aria-label support to cart fragments (and handheld footer bar icons)"
Currently the handheld footer bar doesn't have aria labels. This becomes especially tricky when it comes to the cart as the cart is built as fragment and therefore replacing it with custom code requires more work / duplication. The cart does have a title attribute; but not aria-label.

Suggestion:
Add aria-label attribute to the function
storefront_handheld_footer_bar_cart_link();

[code]

And for

[2020-11-03 08:36] Aljullu commented on #1485
I will proceed closing this issue for now. We did some testing + we have one more of RC testing to catch new issues. In case some arise, we can open individual issues for them.

[2020-11-03 08:36] #1485 closed, assigned to nobody

[2020-11-03 08:36] Aljullu commented on #1486
I will proceed closing this issue for now. We did some testing + we have one more of RC testing to catch new issues. In case some arise, we can open individual issues for them.

[2020-11-03 18:38] haszari commented on #1527
Thanks for the feedback @EdithAllison. You've identified are some good opportunities to improve accessibility in Storefront. We can look at this in a future release.

[2020-11-06 03:01] haszari commented on #1486
I ran exakat and there's one issue to follow up (maybe a false alarm?)

<img width="1224" alt="Screen Shot 2020-11-06 at 4 01 06 PM" src="https://user-images.githubusercontent.com/4167300/98321230-68547900-2049-11eb-85fd-0955ece2f9ea.png">

[2020-11-09 00:26] haszari commented on #1486
Closing - @Aljullu already investigated the `array_key_exists` warnings and confirmed none of these are causing any bugs.

[2020-11-09 00:26] #1486 closed, assigned to nobody

[2020-11-10 10:03] thabotswana opened #1531 "Duplicate categories on Shop page"
## Describe the bug
When you set the Shop page to display categories, it displays the categories twice.

When I previewed in the _Twenty Twenty_ theme, the categories are not duplicated.

- [x ] I can reproduce this bug consistently using the steps below.

## To Reproduce
Steps to reproduce the behavior:
1. Go to _Customize ▸ WooCommerce ▸ Product Catalog_
2. Select "Show categories" under **Shop

[2020-11-10 10:21] Aljullu commented on #1531
Hi @thabotswana, thanks for opening this issue. Unfortunately, I'm unable to reproduce.

![imatge](https://user-images.githubusercontent.com/3616980/98660488-a7cede00-2345-11eb-9ff3-a49b64e5b448.png)

We just released Storefront 2.9.0, could you test if the issue is still reproducible in that version?

https://github.com/woocommerce/storefront/releases/download/version%2F2.9.0/storefront.zip

Also

[2020-11-10 12:54] wpniall commented on #1531
Hi @Aljullu,

I'm on the ticket now.

No, I don't see any duplicate categories.

When I scroll down from the first set of products on https://casamarengostudio.com/shop/ to the second set of products, the URL changes to https://casamarengostudio.com/shop/page/2.

Seems like the site loads the same categories for page 2 as page 1.

[2020-11-10 13:50] Aljullu commented on #1531
Hi @wpniall, I think there are two things happening here:

* The site is probably using another plugin that is loading page 1 and page 2 one after the other without pagination. I would say an 'infinite scrolling' plugin or something similar.
* At the same time, for some reason WooComerce shows the same contents in page 2 than page 1 (however, page 3 returns a 'not found' error, as expected). I cou

[2020-11-11 06:50] wpniall commented on #1531
Hi @Aljullu

I thought it might be a plugin conflict. However, all the plugins except for one are developed by Automattic or WooCoomerce. I disabled the other plugin (https://wordpress.org/plugins/gallery-custom-links/) but the problem is still there.

I think the "infinite scrolling" feature might be connected to the Jetpack Infinite Scroll feature: https://jetpack.com/support/infinite-scroll/#th

[2020-11-11 08:15] #1512 closed, assigned to Aljullu

[2020-11-11 08:18] Aljullu commented on #1531
Thanks for the investigation @wpniall.

Great! Definitely this seems to be an issue either with WooCommerce core or Jetpack Infinite Scroll.

For now, I will close this issue here. If at some point there is some evidence that this is an issue with Storefront, feel free to reopen.

[2020-11-11 08:18] #1531 closed, assigned to nobody

[2020-11-15 20:16] haszari opened #1535 "jQuery 3+ fixes, or migrate away from jQuery where practical"
## Is your feature request related to a problem? Please describe.
WordPress core v5.6 is [updating the bundled version of jQuery to v3](https://make.wordpress.org/core/2020/11/05/updating-core-jquery-to-version-3-part-2/).

Storefront uses the bundled jQuery in a few places. So we'll need to review & test and potentially make some fixes in time for WordPress 5.6.

While we're looking at this, if i

[2020-11-20 19:08] senadir opened #1539 "Move Storefront setup notice to an inbox message"
Storefront registers a big notice when installed.
![image](https://user-images.githubusercontent.com/6165348/99840027-0c6f1180-2b6c-11eb-969a-d399151433cd.png)

We need to move that notice an inbox message.
We also need to omit the 'add example product' because that step should be covered by the task list.

[2020-11-21 10:26] nagpai opened #1540 "CSS: Please include page ID class in the classlist that appears within the body tag."
## Is your feature request related to a problem? Please describe.
The page id that appears in the classlist of the body tag in any page or post html code, helps support team a long way in targetting CSS only to that specific page or post.

The Shop page in Storefront, due to some reason has page ID missing in the list of class. It does not even have a specific class like maybe `woocommerce-shop-pa

[2020-11-21 14:13] nagpai commented on #1540
The body tag of the Shop page currently looks like this

[2020-11-22 19:27] haszari commented on #1539
Thanks for logging this @senadir . The notice covers a few set-up / onboarding tasks, so may be better implemented as a task list item.

Whoever picks this up – please investigate and propose how to reimplement the notices using the improved inbox/task list features in WooCommerce Admin.

[2020-11-22 19:31] haszari commented on #1540
Thanks for the suggestion @nagpai – this sounds like a useful improvement.

Do you know if this affects other themes as well - would it be better to fix in Storefront?

Can you clarify your needs/issue – do you specifically want to target the `Shop` page, or do you need more specific classes added to (all) other pages too?

[2020-11-23 13:47] nagpai commented on #1540
@haszari  - Thanks for the reply,

It looks like the issue is related to WooCommerce Core. @nielslange  tested this and was able to replicate this with other themes. (TwentyTwenty notably). He suggested moving this to core as well.

It would be good to have this across other pages too, since users would have a requirement to target CSS to specific pages.

Either Niels or I will tag the issue in Wo

[2020-11-23 18:22] haszari commented on #1540
cc @juliaamosova for awareness - not sure if there is an existing issue in core repo, feel free to move this one or link 👍

[2020-11-23 22:28] daria2303 opened #1543 "Storefront: homepage changes to displaying posts after editing the site title from wp-admin > Settings > General"
## Describe the bug
homepage changes to displaying posts after editing the site title from wp-admin > Settings > General

Isolating the problem (mark completed items with an [x]):
- [ ] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- [ X] I can reproduce this bug consistently using the steps below.

## To Reproduce
St

[2020-11-24 04:03] budzanowski commented on #1539
It looks like there is only one admin notice inside the whole storefront repository ^.

[2020-11-25 03:10] nielslange commented on #1540
@nagpai & @haszari: I already pinged @juliaamosova on this and believe that this should be addressed in the Woo core rather than within Storefront.

[2020-11-26 09:50] #1205 closed

[2020-11-26 11:06] budzanowski commented on #1342
I have added this problem to a related opened issue in the Stripe repository https://github.com/woocommerce/woocommerce-gateway-stripe/issues/911

Closing.

[2020-11-26 11:06] #1342 closed

[2020-11-26 14:49] budzanowski opened #1545 "Susy node package is deprecated."
3.0.6 is the latest version of susy. The package is now deprecated.

We are currently using version w 2.2.14. It looks like our usage of susy is minimal and limited only to susy-media scss function. This should be replaceable with a standard media query or maybe just selectors like .is_large and similar.

We should stop using susy. Remove it from our codebase and refactor susy-media invocations to

[2020-11-26 19:13] ianfagg commented on #1176
I agree, it looks horrible too, surely it should not be like this. Any solutions or ideas? Thanks very much.

[2020-11-26 19:28] haszari commented on #1176
Unfortunately I think this is necessary to allow Customizer control of the generated CSS. Styles that are controlled by the Customizer are [generated in PHP and output as inline css](https://github.com/woocommerce/storefront/blob/trunk/inc/customizer/class-storefront-customizer.php#L708). As far as I'm aware, this is common practice for WordPress themes that provide Customizer options. So we might

[2020-11-26 19:39] ianfagg commented on #1176
Interesting, thanks #haszari Do you know if it's possible to switch off Customizer control? I'm customising the css in my own custom stylesheet so I don't think I'm using that anyway.

[2020-11-26 19:43] haszari commented on #1176
I don't see any filter for that [CSS getting enqueued](https://github.com/woocommerce/storefront/blob/trunk/inc/customizer/class-storefront-customizer.php#L1100).

Note that disabling the inline CSS probably isn't practical, since your site is probably relying on the default (un-Customized) inline CSS.

[2020-11-26 19:46] ianfagg commented on #1176
So it looks like we're stuck with it then, shame. Thanks for your help.

[2020-12-03 22:35] findingsimple opened #1551 "php8 compatibility - implode parameter ordering"
implode() for historical reasons could accept its parameters in either order (For consistency with explode()) however, it is deprecated not to use the documented order of arguments.

I was running [PHP8 compatibility sniff](https://github.com/PHPCompatibility/PHPCompatibility) over the child themes and noticed the following in storefront core

Affecting the following line https://github.com/woocom

[2020-12-03 23:11] haszari commented on #1551
Thanks for catching this @jconroy ! Interesting that we missed this (though we were using Exakat, maybe PHPCompatibility has improved recently).

Let's get this fix in the next release. cc @budzanowski  - can you get a fix for this into 3.0.0 final? If so - great, if not (or if for some reason there's a problem) we can defer this in 3.1.0.

[2020-12-03 23:13] haszari commented on #1486
We missed one: https://github.com/woocommerce/storefront/issues/1551

[2020-12-04 09:07] budzanowski commented on #1551
@haszari PR is ready. I will try to target 3.0.0.
https://github.com/woocommerce/storefront/pull/1553

[2020-12-04 09:53] apeksha10 opened #1554 "PHP8 compatibility. Fatal error receives while selecting storefront theme."
## Describe the bug
PHP-8 compatibility. Fatal error receives while selecting storefront theme.

Isolating the problem (mark completed items with an [x]):
- [x] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- [x] I can reproduce this bug consistently using the steps below.

## To Reproduce
Steps to reproduce the behav

[2020-12-06 18:53] haszari commented on #1554
Hi there @apeksha10 - thanks for testing with PHP8!

WordPress and the community of themes and plugins are currently working towards PHP8 support. Regarding WP core **WordPress 5.6** is the release that is targeted for PHP8 support.

If you're testing Storefront or other themes/plugins with PHP8, I recommend using [WordPress 5.6 (currently at beta/RC)](https://wordpress.org/download/releases/#beta

[2020-12-07 06:48] apeksha10 commented on #1554
Yes.. after uploading WordPress 5.6 copy, No fatal error received while selecting the storefront theme.

[2020-12-07 18:41] haszari commented on #1554
Great - thanks for confirming. I'll close this issue.

[2020-12-07 18:41] #1554 closed, assigned to nobody

[2020-12-08 22:32] #1539 closed, assigned to budzanowski

[2020-12-15 11:38] BusinessBloomer opened #1561 "404 page TLC: missing hooks"
The 404.php template file is quite poor from a hooks point of view.

There is no way to override such template unless we manually create a 404 copy in a child theme. I'd rather have actions and filters.

It's not too time consuming:

[code]

Also, I'd suggest to add a filter every time storefront_is_woocommerce_activated() is mentioned:

`apply_filters( 'storefront_404_is_woocommerce_activated', s

[2020-12-21 11:55] ospiotr opened #1563 "[BUG] Fatal error when WooCommerce Admin is disabled"
####Hey there!

**Describe the bug**

I am using an [official WooCommerce filter](https://woocommerce.wp-a2z.org/oik_hook/woocommerce_admin_disabled/) to disable WooCommerce Admin in my site:
`add_filter( 'woocommerce_admin_disabled', '__return_true' );`

When Storefront is trying to display a notice (when Storefront is installed but not yet configured), fatal error happens:

[code]
**Solution**

[2020-12-21 19:08] haszari commented on #1563
Thanks for reporting this @ospiotr ! Looks like we missed that filter.

@senadir Can you take a look at this as part of porter rotation? Thank you 🙇

[2021-01-04 13:47] #1551 closed, assigned to budzanowski

[2021-01-04 15:58] mikejolley commented on #1341
Embeds from Instagram and Facebook are no longer supported in WordPress due to changes in the Instagram API.

Refs:

https://yoast.com/facebook-instagram-embeds-broken/
https://wordpress.org/support/article/embeds/

[2021-01-04 15:58] #1341 closed

[2021-01-04 16:20] mikejolley commented on #1543
I'm not sure if this is a quirk of the business plan or not, but testing on a self-hosted install I was not able to replicate this issue.

Is this happening also with other themes? Asking because the front page and "site title" options are both WordPress settings, not specific or custom to the Storefront theme.

[2021-01-04 18:33] fylgjur opened #1570 ""Thumbnail cropping" tool in Customizer is poor UX, in fact affects Catalog Images only"
## Is your feature request related to a problem? Please describe.

It is very hard to intuitively interpret the Customizer here:

<img width="207" alt="Screen-Shot-2020-07-13-at-09 56 06" src="https://user-images.githubusercontent.com/65490337/103561780-eac6b100-4eb1-11eb-9a9a-dd94fb7b4a31.png">

A user in 3621066-zen points out that 'Thumbnail' should refer to the gallery thumbnails below the mai

[2021-01-05 04:18] anant1811 commented on #1570
The customer replied back and mentioned that they added the following code to theme's functions.php and now the images are sized in 4:3 aspect ratio:

[code]

[2021-01-05 13:16] #1521 closed, assigned to nobody

[2021-01-05 14:03] #1563 closed, assigned to mikejolley

[2021-01-05 15:14] #1373 closed

[2021-01-05 16:18] #1432 closed

[2021-01-05 18:31] nerrad commented on #1535
This will need addressed for WordPress 5.7.

[2021-01-05 18:32] #1540 closed

[2021-01-06 14:25] fylgjur commented on #1570
I was directed to this info giving more on the vocabulary in the actual code of the different types of images here: https://docs.woocommerce.com/document/image-sizes-theme-developers/

This use of `thumbnail` in the code suggests to me that we should modify the vocabulary in the [Types of Images documentation](https://docs.woocommerce.com/document/adding-product-images-and-galleries/#section-1) to

[2021-01-07 18:10] nerrad commented on #1561
Thanks for the suggestion. Right now it doesn't line up with the [current prioritization](https://github.com/woocommerce/storefront/blob/trunk/STOREFRONT_STATUS.md) we are giving to work so it's unlikely to be something implemented anytime soon.

[2021-01-11 12:37] mfilip opened #1580 "Missing method causing 500 error"
## Describe the bug
Missing method or bad method name `Storefront_NUX_Admin_Inbox_Messages_Customize::possibly_add_note();` trigger 500 error when trying to enter Woocommerce `/wp-admin/admin.php?page=wc-admin`. After checking error log I have found that  `possibly_add_note'  method is not exist in class definition Storefront_NUX_Admin_Inbox_Messages_Customize. Class do not inherit so called metho

[2021-01-11 16:43] #1519 closed, assigned to mikejolley

[2021-01-12 18:35] nerrad commented on #1580
Confirmed.

[2021-01-12 18:54] nerrad commented on #1580
Actually, it was pointed out to me by @Aljullu  (and I missed) that `possibly_add_note` comes from [`NoteTraits`](https://github.com/woocommerce/woocommerce-admin/blob/7fbed9e56ed3715625343b336439858d1ee79c89/src/Notes/NoteTraits.php#L73-L81). It's likely this would be related to an older version of WooCommerce active that doesn't have `NoteTraits` available (or the method referenced available).

[2021-01-13 08:47] Aljullu commented on #1580
Correct. @mfilip do you have some more details that could help us reproduce the issue? It would be interesting to know the WordPress and WooCommerce versions you are using. A screenshot of the error would also be helpful.

In the meanwhile, you can try if installing [WooCommerce Admin](https://wordpress.org/plugins/woocommerce-admin/) fixes the issue?

Thanks in advance!

[2021-01-13 09:39] Aljullu opened #1582 "Checkout block: error notice icon is missing"
## To Reproduce
1. Remove all available shipping methods from WooCommerce > Settings > Shipping.
2. Go to the Checkout block and scroll to the Shipping step.
3. Notice the notice icon is missing:
![imatge](https://user-images.githubusercontent.com/3616980/104434296-5f24e280-558b-11eb-8251-bc2a349e2c8f.png)

Maybe a regression from #1574?

[2021-01-13 14:17] mfilip commented on #1580
I'm using wordpress:5.6-php7.3 and woocommerce 4.2 for bug check but from our testing error occuring till most recent wocommerce version with above wordpress. About screens there is not much I can make because on frontend you got blank screen.

Logs with error:
[code]

[2021-01-13 14:23] mfilip commented on #1580
In my humble opinion is simple even if somthing should come from `NoteTraits` is not implemented inside class `Storefront_NUX_Admin_Inbox_Messages_Customize` as static method of this class. If there is not class extension to inherit this method calling missing one will cause 500 error.
[code]
I do not think this is related to woocommerce version but rather bug in coding

[2021-01-13 15:31] gglobalstep opened #1604 "[GlobalStep - WooCommerce 4.9] Downloadable file name appears misaligned on "Order Received" and "Downloads" Page"
## Bug Description:
Downloadable file name appears misaligned on "Order Received" and "Downloads" Page

## Environment:
Windows 10, Mac 10.15.7 (19H114).
Browser: Chrome(Version 87.0.4280.88 (64-bit))
               Firefox(Version 83.0)(64-bit)
               Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required

[2021-01-13 16:46] Aljullu commented on #1580
Thanks for the details @mfilip! I was able to reproduce the issue in WooCommerce 4.2. I will try to open a PR with a fix today. In the meanwhile, updating WooCommerce to the latest version should fix the issue.

[2021-01-14 09:35] #1580 closed, assigned to Aljullu

[2021-01-14 12:04] nerrad commented on #1582
I'm giving this a higher priority only because it's a poor first experience for users of storefront and the checkout blocks. So I want to make sure it is prioritized before other bugs.

[2021-01-14 15:20] robertocyrino opened #1585 "Full-width Elements Have Margins on Mobile View"
## Describe the bug
If you add a full width element to a site using the latest **Storefront** theme, 3.3.0, it will show margins on both sides for mobile view.

- [x] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- [x] I can reproduce this bug consistently using the steps below.

## To Reproduce
Steps to reproduce the

[2021-01-14 15:49] mikeicode commented on #1585
For the example above it appears the CSS which makes the blocks full width is within a media query causing this issue (not sure if that's intentional):

![https://d.pr/i/NX6Dj8](https://d.pr/i/NX6Dj8+)

We added this to the site to resolve:

[code]

[2021-01-14 22:45] JoshuaGoode opened #1586 "Conflict with WooCommerce Blocks, Star Rating Icons Missing"
## Describe the bug
WooCommerce blocks fail to load star rating icons when Storefront is active.

The blocks attempt to load `font-family: star;` which appears to be available as a .woff, .eot, and .ttf under`wp-content/plugins/woocommerce/assets/fonts/`

Other themes do not appear to be having issues.

Possible regression related to https://github.com/woocommerce/storefront/pull/1574
cc: @mikejol

[2021-01-14 22:53] JoshuaGoode commented on #1586
I seem to be missing privileges to add labels within this repo, adding some pings to the original report.

[2021-01-15 09:29] Aljullu commented on #1586
Thanks for opening this issue @JoshuaGoode!

 I can confirm the issue, it seems to affect several blocks:

* PHP-based product grid blocks:
![imatge](https://user-images.githubusercontent.com/3616980/104707222-6a5b4800-571c-11eb-816f-9cd7eccad0f9.png)
* All Products block:
![imatge](https://user-images.githubusercontent.com/3616980/104707126-4ac41f80-571c-11eb-984d-079343fa4d9d.png)
* Reviews bloc

[2021-01-15 12:37] Aljullu commented on #1585
Thanks for filling this issue @robertocyrino and for the work-around @mikeicode.

I'm confused by this as well, I think it should be safe to remove it and let styles be applied in all viewport sizes. Do you want to open a PR fixing this? :slightly_smiling_face:

[2021-01-15 12:40] Aljullu commented on #1585
I'm assigning high priority because this is an issue in a core Gutenberg functionality and I imagine it has a big impact, but it looks like this has been working like that for several versions, so it's not a recent regression.

[2021-01-16 18:11] danos5d5 opened #1589 "Accesibility errors WCAG 2 using https://wave.webaim.org/ validator"
## Describe the bug
Clearly describe the issue. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

Isolating the problem (mark completed items with an [x]):
- [x ] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- [x ] I can reproduce

[2021-01-18 18:49] nerrad commented on #1589
Thanks for the report! However, this is a WooCommerce Core issue because the validation errors are related to the price filter widget and as far as I can tell Storefront doesn't override the default template for this from core.

[2021-01-21 13:05] renovate[bot] opened #1593 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 13:05] #1582 closed, assigned to Aljullu

[2021-01-21 13:05] #1586 closed, assigned to Aljullu

[2021-01-21 14:33] eldietista opened #1594 "Add release notes to plugin details"
I´d love to see **release notes** easily everywhere, like in the theme page and the theme on WP panel so we can see updates.
Release notes: https://github.com/woocommerce/storefront/releases.
WP theme: https://es.wordpress.org/themes/storefront/.
Woo guys: https://woocommerce.com/storefront/.
It took me one year to find them. I may have been thick but I believe we all would love this delicate piec

[2021-01-21 15:05] #1593 closed, assigned to nobody

[2021-01-25 13:05] grig-23 opened #1595 "Support for menu description."
## Is your feature request related to a problem? Please describe.

Currently, Storefront theme does not support menu descriptions.

## Describe the solution you'd like

Add the support for menu descriptions.

## Additional context

1. Head to wp-admin >> Appearance >> Menus
2. In the "Screen options" at the top, tick the "descriptions" checkbox.
3. Add descriptions to some menu items. That won't w

[2021-01-28 19:14] Hergeirs opened #1596 "Changes to chart redirect page and cart dissapears until reload."
## Describe the bug
When removing an item from cart or changing the quantity and clicking the button, the page reloads and shows no cart. I need to reload the page to see the cart again.

Isolating the problem (mark completed items with an [x]):
- I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- I can reproduce this bu

[2021-01-30 14:43] budzanowski commented on #1596
Could you please check if there is any error information in your browser console?
Please also check the errors log file. More information on that: https://docs.woocommerce.com/document/finding-php-error-logs/

[2021-02-01 08:52] Aljullu opened #1599 "Remove maximum-scale from viewport meta tag"
Storefront defines `maximum-scale=2.0` in its viewport meta tag, but this is bad for accessibility. It limits how much users can zoom in the page.

Some browsers have an option to ignore it, but it would be better to completely remove it from the theme.

The relevant code line:

https://github.com/woocommerce/storefront/blob/2618a3119d93e7624bc3ebafcbb88be7a8e695c2/header.php#L14

[2021-02-01 10:02] Siddharth1010 commented on #1599
Hi @Aljullu , I'll remove it from `header.php`

[2021-02-01 11:35] #1599 closed, assigned to nobody

[2021-02-04 13:47] Hergeirs commented on #1596
Hi. Sorry about the late response. I have unfortunately been busy elsewhere. But here's the feedback.

# Log

The log showed in WooCommerce is completely empty:
![image](https://user-images.githubusercontent.com/20126436/106900996-1924ef80-66ef-11eb-9751-56f32ce04c67.png)

# Errors in console
No errors in the console at all. You can see this in Example gif

# Example GIF
![Example](https://user-im

[2021-02-06 19:17] juliaamosova commented on #1604
Hi @gglobalstep,

Thank you for reporting the issue. It seems to be theme specific as I see the issue in Storefront but not in Twenty Twenty One theme. I tested with WooCommerce 5.0 RC3.

Twenty Twenty One (no issue):

![2021](https://user-images.githubusercontent.com/19143190/107127692-da756d80-6885-11eb-8a02-9b6aa7610ca0.jpg)

Storefront (the issue is present):

![storefront](https://user-images

[2021-02-12 19:06] nerrad commented on #1604
@juliaamosova it appears that the storefront examples have a sidebar whereas your test in the Twenty Twenty One is in a view without a sidebar. It's not apparent to me that this is exclusively a Storefront issue? Could this be a styling issue for the table layout produced by WooCommerce core that surfaces in narrow containers?

[2021-02-16 00:56] meirroth opened #1611 "Handheld Footer Bar Hidden on Input Focus"
When focusing on the quantity input the mobile footer bar disappears.
Whats the reasoning for this behavior?

The CSS rule that is causing this:
https://github.com/woocommerce/storefront/blob/5a3619d4dbed265dbeab3ce64b2f9e211d7531b4/assets/css/woocommerce/woocommerce.scss#L239-L244

### To Reproduce
Focus on quantity input,

### Screenshots
<img src="https://user-images.githubusercontent.com/12494

[2021-02-16 16:09] nerrad commented on #373
While a good idea, much of this will be superseded by eventual work on FSE (block based) compatible theme where redesigns of default templates will be done.

[2021-02-16 16:09] #373 closed

[2021-02-16 16:11] #665 closed

[2021-02-16 16:12] #813 closed

[2021-02-16 16:13] #816 closed

[2021-02-16 16:14] #817 closed

[2021-02-16 16:14] #819 closed

[2021-02-16 16:15] #849 closed

[2021-02-16 16:16] #859 closed

[2021-02-16 16:17] #894 closed

[2021-02-16 16:41] #604 closed

[2021-02-17 18:22] nerrad commented on #1596
I'm unable to reproduce this and it's the kind of error that would surface with more noise if it was happening regularly for others. Offhand I'm not aware of anything Storefront specific that would cause this.

This appears to be something specific to your environment at this point and until we know what that is, there's not anything we can do in this repository to fix.

Thanks for taking the time

[2021-02-17 18:22] #1596 closed, assigned to nobody

[2021-02-18 06:19] pauljacobson opened #1612 "Widget Visibility: Storefront or Products widget does not enforce widget visibility preferences in the sidebar"
## Describe the bug

Our customer has a Products widget in the _Sidebar_ widget area on their site. They don't want the widget to appear on the shop page, or on the checkout page.

We set widget visibility preferences for the widget to adjust where the widget should display, like this:

<img width="465" alt="Markup 2021-02-17 at 14 02 45" src="https://user-images.githubusercontent.com/2912202/1082

[2021-02-23 13:11] Aljullu commented on #1611
The reason is so there is more available space in the screen. Most mobiles open the on-screen keyboard when an input is focused, so the available vertical space is reduced considerably.

It's true, however, that in some cases this behavior is not necessary at all, like in modern phones that have a big enough screen, or in devices with an external keyboard. So I think a middle point between complet

[2021-02-23 13:14] meirroth commented on #1611
Yes.
Thank you @Aljullu!

[2021-02-23 13:32] Aljullu commented on #1612
Hi @pauljacobson, thanks for opening this issue. I tested the Widget Visibility functionality of Jetpack with Storefront and it seems to work fine for me. Is there anything I'm missing? It's not clear to me from the issue description if your issue is with Storefront or with Independent Publisher 2. If it's the second, you should probably log the issue in their repo since this one is only about the

[2021-02-23 14:46] Franz333 commented on #991
Hi,
Do you guys have any news regarding setting custom breakpoints?

[2021-02-23 16:07] pauljacobson commented on #1612
Hi @Aljullu Thanks for the feedback. I'm not entirely sure where the issue is here. It doesn't seem to be limited to Storefront because I could reproduce in Independent Publisher 2. It's not limited to that theme either, for obvious reasons.

I'm not sure where this issue should be, though? Given that this affects the Products Widget, perhaps the WooCommerce repo?

[2021-02-24 08:59] Aljullu commented on #1612
Yeah... if it's reproducible in several themes, probably it's not a bug specific to Storefront. Given that the Widget Visibility feature is from Jetpack, I would open the issue in [Jetpack's repo](https://github.com/Automattic/jetpack/), I think they will be able to investigate a bit more what's going on and point you in the right direction.

I will close this issue for now since it doesn't seem t

[2021-02-24 08:59] #1612 closed, assigned to nobody

[2021-02-25 14:20] iiLearner commented on #991
Is this ever going to be looked at? or has already been looked at perhaps?

[2021-03-02 06:50] joweber123 opened #1618 "Editor Placeholder Text Disappears With Dark Background"
## Describe the bug
If you choose a dark background in the Customizer and then go to create a new page, it appears to be completely blank.  The placeholder text 'Add Title' is there but it is the same color as the background.
![Markup on 2021-03-02 at 15:43:23](https://user-images.githubusercontent.com/24914028/109609006-1393bb80-7b6e-11eb-8bb5-a9d16cec490c.png)

## To Reproduce
Steps to reproduce

[2021-03-03 15:34] #1611 closed, assigned to nobody

[2021-03-04 18:38] nerrad commented on #1618
Thanks for leaving this report @joweber123!

[2021-03-04 19:08] juliaamosova commented on #1604
I am sorry for the delayed response here @nerrad!

I went ahead and tested this a bit further.

I installed [Options for Twenty Twenty-One](https://wordpress.org/plugins/options-for-twenty-twenty-one/) in order to get the sidebar in Twenty Twenty One theme. Note that this plugin prompts you to install another one (there will be a prompt to do that) that will allow you to actually activate the side

[2021-03-05 04:06] maxmprado opened #1620 "lncoltest"

[2021-03-05 04:07] #1620 closed, assigned to nobody

[2021-03-07 23:39] ospiotr opened #1623 "[BUG] Fatal error when WooCommerce Admin is disabled (again)"
Hey there!

**Describe the bug**

I am using an [official WooCommerce filter](https://woocommerce.wp-a2z.org/oik_hook/woocommerce_admin_disabled/) to disable WooCommerce Admin in my site:
`add_filter( 'woocommerce_admin_disabled', '__return_true' );`

When Storefront is trying to display a notice), fatal error happens:

[code]

There was a similar problem in Storefront 3.0.0:  #1566. It's the same

[2021-03-09 15:56] opr commented on #1623
Hi thanks for reporting this to us, I've just tried reproducing using the same software versions that you've listed, but I was not able to.

When I activate storefront on a fresh site with WooCommerce Admin disabled via a filter, I still see the "Design your store 🎨" notice without any errors.

I also asked one of my teammates @Aljullu to attempt to reproduce this and he was also unable.

On the b

[2021-03-09 19:34] claudiosanches commented on #1604
@nerrad This one is an issue on Storefront side, because by default Storefront removes all styles from WooCommerce core, see: https://github.com/woocommerce/storefront/blob/5a3619d4dbed265dbeab3ce64b2f9e211d7531b4/inc/woocommerce/class-storefront-woocommerce.php#L39
Also nothing related to sidebars, it's just missing a `word-break: break-all;`.

[2021-03-10 03:20] quyenvsp opened #1626 "Click body area not close focused submenu dropdown"
## Describe the bug
Click body area not close focused submenu dropdown (only when using computer).

Isolating the problem (mark completed items with an [x]):
- [ ] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- [x] I can reproduce this bug consistently using the steps below.

## To Reproduce
Steps to reproduce the be

[2021-03-10 12:34] nerrad commented on #1604
Thanks for the reply (and the PR 🎉 ) @claudiosanches. I missed that filter Storefront was using. Someone from Rubik will be looking into the PR soon.

[2021-03-11 13:37] opr commented on #1604
Thanks for the report, I was able to reproduce this in Chrome, Firefox, and Safari. I've added this to our backlog to be worked on.

[2021-03-11 15:30] #1626 closed, assigned to nobody

[2021-03-11 15:34] nerrad commented on #1604
@opr this already has a PR in #1624 that just needs reviewed.

[2021-03-11 15:58] #1604 closed, assigned to nobody

[2021-03-22 02:13] notrealdev opened #1631 "Product Navigation repeating"
Hi, i have product category with 4 products.
When go to product page and click next product.
It keeps on repeating 1 and 2 instead of going to sequential to the next products in the category.

My images:
https://i.imgur.com/Xct1l6Z.jpg
https://i.imgur.com/33hRsqV.jpg

My video:
https://youtu.be/bor4Lkbfi3c

Can you check it?
Thanks.

[2021-03-22 12:27] GlennMartin1 commented on #1631
This is likely the cause and resolution, here: https://github.com/woocommerce/storefront/issues/848#issuecomment-386105350

[2021-03-22 12:52] notrealdev commented on #1631
Thank @GlennMartin1 I will try it 👍

[2021-03-23 02:17] notrealdev commented on #1631
Yes, as @GlennMartin1 said
`The date and time for each product is basically the same`
Thank you.

[2021-03-23 02:17] #1631 closed, assigned to nobody

[2021-03-31 16:09] WhatEverBusiness opened #1638 "TTFB is too slow due to Storefront theme"

[2021-03-31 16:33] GlennMartin1 commented on #1638
I regularly get approx 1-second fully-loaded time with Storefront.

[2021-03-31 16:42] WhatEverBusiness commented on #1638
Sometimes it loads at 3+ seconds TTFB too.

[2021-03-31 18:25] nerrad commented on #1638
Can you please provide additional information on how this conclusion was arrived at? Unfortunately at the moment there is not enough information provided that allows us to take any action here.

[2021-04-02 01:25] #1638 closed, assigned to nobody

[2021-04-08 03:27] ericamQA commented on #1339
Another instance in 3883197-zen

[2021-04-14 09:43] opr commented on #1476
Based on [this comment](https://make.wordpress.org/core/2021/03/04/discussion-dropping-support-for-ie11/#comment-40870) by Matt in favour of dropping IE11 support in WP Core, is this something we still want to work on?  I don't think it is so I will close the issue. Please feel free to continue the discussion if you have any further thoughts though!

[2021-04-14 09:43] #1476 closed

[2021-04-20 14:29] stuartduff opened #1651 "Featured Category or Featured Product WooCommerce blocks button do not centre align"
## Describe the bug
When using the Featured Category or Featured Product WooCommerce blocks on a page within Storefront the buttons do not centre align when specified to do so. They seem to always align to the left.

Isolating the problem (mark completed items with an [x]):
- [x] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are

[2021-04-21 12:44] ralucaStan commented on #1651
Hello @stuartduff,
thank you for taking the time to report this bug.

This was fixed as part of the [v4.9.0 release](https://github.com/woocommerce/woocommerce-gutenberg-products-block/releases/tag/v4.9.0) nine days ago. Let us know if you can still reproduce it after updating WooCommerce Blocks to the latest version.

[2021-04-21 14:45] ralucaStan opened #1656 "Add code styles and linting tools"
Tools/sources we want to use:

- `@wordpress/scripts` to pull in linting commands and things like prettier config/dependency etc.
- `@woocommerce/eslint-plugin` for eslint, related ignore files, and .eslintrc.js config
- `@wordpress/stylelint-config` for stylelint (this might not be needed for the latest version of @wordpress/scripts which might include it) and related .stylelintrc.json
- `PHPCS`

[2021-04-23 07:12] s3rrot commented on #1509
Hi @Aljullu

Yesterday I saw this and tried to solve in an easy way. Hope it helps. ;)

[2021-04-26 18:15] JJJ opened #1662 "Some font face & family rules are partially slashed"
## Describe the bug

See: https://themes.trac.wordpress.org/browser/storefront/3.5.1/assets/css/base/icons.css
Specifically: `font-family:Font Awesome\ 5`

In (what becomes) icons.css, the `font-face` definitions and `font-family` rules end up having a single slash in them.

Because everything in this file is mysteriously slashed identically, this doesn't cause bugs with Storefront itself, but att

[2021-04-27 15:27] Skateboardb commented on #991
I'm looking at doing this now.. my client has a lot of buttons on the navbar, and the content gets reflowed well before the pre-defined breakpoint. It's not a good look. Has anyone come up with a sustainable solution?

[2021-04-29 13:09] ralucaStan commented on #1509
Closing this is issue as it does not fall into any of our [issue criteria “buckets”](https://github.com/woocommerce/storefront/blob/trunk/STOREFRONT_STATUS.md).

[2021-04-29 13:09] #1509 closed, assigned to nobody

[2021-04-30 08:42] nerrad commented on #1651
@stuartduff feel free to update this issue if you find it still isn't fixed.

[2021-04-30 08:42] #1651 closed, assigned to nobody

[2021-04-30 09:04] nerrad commented on #1662
This is an odd one, the css is a compiled file and it's not clear what is causing the backslash here. I did a brief google search to see if I could find anything on this type of behaviour and couldn't.

Whoever picks this up, we could try switching to a different sass engine maybe and see if that fixes?

[2021-05-01 02:13] colemickens opened #1669 "LICENSE file?"
## Describe the bug

Hi, I hope this isn't too odd. I'm a bit nervous that there's only one reference that I can find to this project's license, and it's one of those little project pill-badge things that says GPL-3-or-later and links to: https://packagist.org/packages/woocommerce/woocommerce (which doesn't seem to authoritative indicate anything about `storefront`'s license...).

Is this accurate

[2021-05-05 12:28] mikejolley commented on #1090
I agree this is important :)

This is something that's being worked on in WooCommerce core, specifically the Gutenberg Blocks (https://github.com/woocommerce/woocommerce-gutenberg-products-block). Storefront supports the cart and checkout blocks which have improved designs. I don't think we need to track this specifically in Storefront so I will close this issue.

[2021-05-05 12:28] #1090 closed

[2021-05-05 12:54] mikejolley commented on #1669
Hi,

It's GPL like WooCommerce itself.

I don't think we need a dedicated licence file since it's stated in the readme(s) and main style file. However, I did notice some places said GPL 2 and some GPL 3, so I've made it consistent in https://github.com/woocommerce/storefront/pull/1674

Thanks

[2021-05-05 12:54] #1669 closed, assigned to nobody

[2021-05-05 15:17] mikejolley commented on #1535
I've been through the JS files and looked for console warnings and nothing is being flagged. 5.7 has been out a while now :)

[2021-05-05 15:17] #1535 closed, assigned to nobody

[2021-05-07 09:12] #1433 closed

[2021-05-07 09:12] #1497 closed, assigned to nobody

[2021-05-07 09:12] #1656 closed, assigned to mikejolley

[2021-05-07 09:12] #1662 closed, assigned to nobody

[2021-05-09 17:01] erikdemarco opened #1680 "Cart cache problem"
I use cloudflare and set to cache my product page. The cart contents show other people's cart before updated to current visitor cart contents. The updating takes split seconds, but still it looks unprofessional. Why other people can see other people contents?
I think it not just cloudflare, it will be the same with other cache plugin.

To fix:
Cart widget (storefront_cart_link), on first load the

[2021-05-10 15:57] mikeicode opened #1682 "Storefront: Content within Wide width blocks cut off with Powerpack framed layout"
## Describe the bug

Powerpack has an option to set the content to be “framed”. Storefront has CSS for blocks set to Wide width. The Wide width blocks overflow outside of the framed content and the content is hidden.

Appears that this negative margin may need to be adjusted when a site is using the framed layout:

![https://d.pr/i/tUfDmV](https://d.pr/i/tUfDmV+)

Isolating the problem (mark compl

[2021-05-14 15:06] nerrad commented on #1680
Hi there @erikdemarco, thanks for taking the time to leave your report here.

I'm having a bit of trouble understanding how this is related to Storefront? I think you are saying that when you cache your product page using Cloudflare that cart contents (for the mini cart widget?) are showing from the cached content before the cart is updated for the current user? You refer to the [`storefront_cart_

[2021-05-14 15:06] #1680 closed, assigned to nobody

[2021-05-14 17:00] erikdemarco commented on #1680
@nerrad Hi thank you for having time to review this issue.

Here's ELI5 version of the issue:

There is 2 visitors visiting my store, lets say VisitorA and VisitorB.

1. VisitorA visit my site first, and add cart 1 productA.

2. Then storefront render the static html for that minicart part using storefront_cart_link()
in that static minicart html it contains VisitorA cart. (judging by WC()->cart->

[2021-05-14 18:12] nerrad commented on #1680
Thanks, @erikdemarco - your explanation confirms what I thought you were trying to convey. However, given your explanation I still don't think this is a Storefront issue as the actual code for the mini cart generation lives in WooCommerce core.

`storefront_cart_link` is called by [`storefront_cart_link_fragment`](https://github.com/woocommerce/storefront/blob/trunk/inc/woocommerce/storefront-wooc

[2021-05-17 05:22] yatgirl opened #1688 "Symbols on side bar and cart header broken with update to 3.6.0"
## Describe the bug
Clearly describe the issue. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

using Storefront theme with Boutique child theme.
I updated Storefront from 3.5.1 to 3.6.0 and the symbols for the cart and the symbols for pages in the sidebar navigation are hieroglyphics instead of what they sho

[2021-05-21 04:48] #1688 closed, assigned to nobody

[2021-05-24 16:01] opr commented on #1682
Thanks for the report, @mikeicode! I can replicate this bug, but I think that this is an issue with the Storefront Powerpack extension rather than Storefront theme. I'll move this issue there shortly.

Before I do, @Aljullu - paging you as the CSS Guru, do you think that adding `overflow: visible` to `.sp-fixed-width .site` [here](https://github.com/woocommerce/storefront-powerpack/blob/trunk/incl

[2021-05-25 07:43] Aljullu commented on #1682
Interesting issue! I think it all depends on what the expectation is when using the `Content frame` option with wide-aligned blocks: should wide blocks become narrower or should they overflow the container? I'm not sure if there is a correct answer because the `Content frame` option and wide alignment attribute feel contradictory to me: does it make sense making something wide if it needs to be co

[2021-05-28 15:23] opr commented on #1682
thanks @Aljullu - yeah I'm not sure either what the best UX here would be, if we _do_ want to contain the content, then this would actually be a Gutenberg issue wouldn't it?

@vivialice please could you give us a hand deciding on the best UX for this? If the user has enabled the [`Content frame` ](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/4283#issuecomment-85048988

[2021-06-04 10:12] mmtomm opened #1704 "Useability issue with handheld search form input"
## Describe the bug

Our testing team repeatedly reported that the search form on handheld footer bar is not working in storefront. But that was not true.
We have found out that users tap the magnifying glass icon to trigger the search after they entered they search phrase (the same icon with which they brought up the search form initialy).
But they must use the keyboard of their mobile device ins

[2021-06-07 13:56] drwpcom opened #2127 "Image Disappears on Cart Quantity Update in Safari 13.x and 12.x"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When cart quantity is updated in Safari 12.x or 13.x, the product image disappears

**Expected behavior**
I expect the product image to sho

[2021-06-07 22:27] zhongruige commented on #2127
Hi @damiannep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. I used the following:

* Storefront theme
* WooCommerce 5.3.0

Replication steps

* I set up a new WooCommerce store and imported the sample products
* I proceeded to the store in a private window and added an item to the cart
* I increased the quantity for the product in

[2021-06-14 10:22] clb92 opened #1707 "Storefront cloned and built from repo won't load JS assets"
We use Storefront, but with some CSS breakpoint changes that can't be made in our child theme (cough #991). Therefore we pull the source from this git repository, apply a patch to one file, and run `npm install && npm run build` to build the theme.

But since version 3.6.0 we get these errors after the theme is installed, which gives us a lot of problems with the theme:
[code]

I've tried pulling

[2021-06-16 10:27] AashikP commented on #2127
Just noting that I could replicate the behavior with both Storefront and Twenty Twenty-One

![safari](https://user-images.githubusercontent.com/17475174/122202567-cf2cf100-ceba-11eb-97c3-c881e9dc50ed.png)
![s131](https://user-images.githubusercontent.com/17475174/122202580-d227e180-ceba-11eb-9e1e-1aaa3bfc5a9b.png)
![s121](https://user-images.githubusercontent.com/17475174/122202598-d5bb6880-ceba-1

[2021-06-17 14:27] gglobalstep opened #1712 "[GlobalStep] For Storefront theme on preview screen, "Products per row" and "Rows per page" fails to work for TAB/PAD"
## Bug Description:
For Storefront theme, upon changing the Products per row or Rows per page value it fails to change for TAB/PAD view on preview screen.

## Environment:
Woocommerce Version : WooCommerce 5.4.1
WordPress version: (v5.7.2)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 91.0.4472.77)
Firefox(Version 88.0)
Safari: v13.1.1

## Steps To Reproduce:
1. Create any test site using JN site.
1

[2021-06-18 12:23] wpniall commented on #1320
Another 3 reports in [Storefront Theme & Gutenberg Heading Blocks Alignment In Editor](https://wordpress.org/support/topic/storefront-theme-gutenberg-heading-blocks-alignment-in-editor/) on the WordPress.org forums. One user (@globalmatt) said they renamed the `storefront/assets/css/base/gutenberg-editor.css` file, which I can confirm fixes the alignment issues:

**gutenberg-editor.css loaded**

!

[2021-06-18 16:14] juliaamosova commented on #1712
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end using WooCommerce 5.4.1 + Storefront 3.7.0.

**Storefront theme experience showing the issue:**

https://user-images.githubusercontent.com/19143190/122589072-d1fc2300-d02d-11eb-80ef-feb73d198f55.mov

To isolate the issue, I tested using Twenty Twenty One 1.3 theme and ca

[2021-06-21 12:32] adrianduffell commented on #1623
I ran into this issue testing WC Admin with Storefront. To reproduce, I think the filter in step 2 needs to be applied early before WC Admin initializes. I was using the following mu-plugin:

**wp-content/mu-plugins/disable-wc-admin.php:**
[code]

[2021-06-21 12:58] adrianduffell commented on #1623
Apologies, on closer inspection it was another plugin generating the error 😅

[2021-06-21 12:58] #1623 closed, assigned to nobody

[2021-06-21 13:25] mikejolley commented on #1707
Hi there

I just tested a clean checkout + build to ensure there are no issues here, and from what I can see it's working correctly.

1. Checkout Trunk
2. Run `npm install && npm run build`
3. Checked asset directory — `assets/js/woocommerce/header-cart.min.js` — exists.
4. Checked for 404s on site.

I think it must be something in your workflow. We've not seen any problems with our releases ourse

[2021-06-21 13:25] #1707 closed, assigned to nobody

[2021-06-21 14:55] mikejolley commented on #1712
Twenty Twenty One doesn't have handheld styles, whereas Storefront does.

There is a conflict between visual settings such as rows/cols, and mobile/tablet styles applied where the columns are reduced purposely to avoid content being unusable narrow. One setting does not fit all. You may increase columns on desktop and have it perfectly fine with 4 per row, but this would be completely unusable on

[2021-06-21 15:18] Aljullu commented on #1712
Yes... that's something that has been discussed in Blocks a couple of times and we even got mockups for it: https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/1060#issuecomment-525895701, https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/1626#issuecomment-577637527. However, I think we have been waiting until Gutenberg implemented some kind of respo

[2021-06-21 15:27] nerrad commented on #1712
I agree with Albert's assessment.

[2021-06-22 16:31] 9ete commented on #1585
@robertocyrino @mikeicode @Aljullu  PR to resolve issue open here: https://github.com/woocommerce/storefront/pull/1713

[2021-06-25 14:42] ylving commented on #1320
The issue seems to stem from the use of **em** instead of **rem**:
`.wp-block{max-width:calc(66.4989378333em * 0.7391304348)}.wp-block[data-align=wide]{max-width:75.9987860952em}`

So a slightly less "destructive" option than renaming/disabling the stylesheet altogether would be to edit the stylesheet, changing **em** to **rem**:
`.wp-block{max-width:calc(66.4989378333rem * 0.7391304348)}.wp-block

[2021-06-28 06:24] rsalafy opened #1717 "Store notice does not stick to the bottom when handheld footer bar removed"
Store notice does not stick to the bottom when handheld footer bar removed, but it floats in its former place when handheld footer bar not removed.

[2021-06-28 06:26] rsalafy commented on #1717
Remove the handheld footer navigation bar using this:

https://docs.woocommerce.com/document/remove-the-handheld-navigation-bar/

[2021-06-28 07:47] globalmatt commented on #1320
@ylving Awesome, thanks! I added your 2 rulesets to an "editor" stylesheet in my child theme, and then enqueued the stylesheet using the `enqueue_block_editor_assets` hook, and it works perfectly. Great job!

(BTW I renamed the Storefront stylesheet purely for diagnosis - it wasn't intended as a fix of course. 😊)

I guess your fix above should be included in the Storefront theme.

[2021-06-29 21:17] KirkwallDay commented on #1339
An instance of this here: 23525996-hc

[2021-06-30 08:54] leewillis77 opened #1720 "Storefront hides disclosure arrow on <summary> tags."
## Describe the bug
Storefront styles hide disclosure arrow on `<summary>` tags.

- [x] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- [x] I can reproduce this bug consistently using the steps below.

## To Reproduce
Create a page with a custom HTML block containing the following markup:

[code]

## Expected behaviou

[2021-07-01 14:52] gglobalstep opened #1787 "[GlobalStep] "Add to cart" button text appears misaligned if products per row is set to "6" for Storefront theme."
## Bug Description:
When products per row is set to "6" for storefront theme, the "Add to Cart" button text appears misaligned.

## Environment:
Woocommerce Version : WooCommerce 5.5 RC 1 and 5.4.1
WordPress version: (v5.8 Beta 3)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 91.0.4472.77)
Firefox(Version 88.0)
Safari: v13.1.1

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install

[2021-07-01 15:42] zhongruige commented on #1787
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. I tested on:

* WordPress 5.7.2
* WooCommerce 5.4

**Replication steps**

* On a fresh install of WooCommerce, I imported the sample products and installed the Storefront theme
* I navigated to `Appearance > Customize`
* I went to the `WooCommerce > Product` catalog opt

[2021-07-07 08:28] opr commented on #1717
Hi @rsalafy - thanks for submitting this issue. Could you provide us with some screenshots/testing steps to reproduce this? I'm not 100% sure what you're seeing vs. what you're expecting to see.

[2021-07-07 11:56] ckanitz commented on #991
Please add this! It's been nearly three years now but such a basic possibility for customization.

[2021-07-07 22:17] 9ete commented on #1720
Here's a fix (removed the summary selector from the CSS rule in _normalize.css).

https://github.com/woocommerce/storefront/pull/1723

[2021-07-08 15:20] gglobalstep opened #2102 "[GlobalStep] Download file name seems wrapped on "My Account->Downloads" screen of Storefront theme."
## Bug Description:
Download file name seems wrapped on "My Account->Downloads" screen of Storefront theme.

## Environment:
Woocommerce Version : WooCommerce 5.5 RC 2 and 5.4.1
WordPress version: (v5.8 RC 2)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 91.0.4472.77)
Firefox(Version 89.0.2)
Safari: v14.0

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the

[2021-07-08 17:44] zhongruige commented on #2102
Hi @gglobalstep,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end. I tested on both WordPress 5.8/5.7.2 and WooCommerce 5.5 / 5.4 versions.

**Replication steps**

* I created a downloadable product and configured a user account for a shopper
* I purchased the product and completed the order
* I navigated to `My account > Downloads` on

[2021-07-10 14:12] dmcleman commented on #2156
The css re-write removes the problem from the checkout page but it is still present on the edit address pages of My Account.

[2021-07-19 20:18] nerrad commented on #1717
Hi @rsalafy, I'm going to go ahead and close this issue since we haven't heard from you and there's not enough info here for us to reproduce and address this. If you still have additional information and are able to answer @opr's request above - please do add a comment and if it's enough info for us to reproduce we'll reopen the issue.

[2021-07-19 20:18] #1717 closed, assigned to nobody

[2021-07-20 14:08] rsalafy commented on #1717
I think my explanations are already clear enough.

[2021-07-21 11:21] nielslange commented on #1618
@joweber123 Can you still reproduce this problem locally and on WordPress.com? You mentioned that with the Gutenberg plugin version 10.0.2, the problem did not appear. Based on https://developer.wordpress.org/block-editor/contributors/versions-in-wordpress/, the recent WordPress version 5.8 contains the functionality of Gutenberg version 10.0-10.7.

That said, I was also not able to reproduce this

[2021-07-24 07:47] joweber123 commented on #1618
We can close this issue.  Looks like it has already been solved by some update. Thanks for taking a look @nielslange!

[2021-07-24 07:47] #1618 closed, assigned to nobody

[2021-07-25 08:06] calvinmorett commented on #2102
### Solution/Fix:

![image](https://user-images.githubusercontent.com/11654917/126892119-7f9c6515-08f4-49d4-9cc1-c83cd2ce3257.png)

[code]

[2021-07-25 08:15] calvinmorett commented on #1787
### Solution/Fix:
![image](https://user-images.githubusercontent.com/11654917/126892466-e6b1e91d-2c58-4874-a606-b02306f6d497.png)

- **Add** word-break as break-word, so the `body` style setting word-break isn't applied.

[code]

[2021-07-25 10:01] calvinmorett commented on #2102
Above detailed change results, when coupled with the change in woocommerce/woocommerce#30033; _Text alignment is changed from `left` to `center`._

![image](https://user-images.githubusercontent.com/11654917/126895258-ae419089-1a2c-46fc-b911-62fa9692383d.png)

[2021-07-26 16:05] #1720 closed, assigned to nobody

[2021-07-29 07:20] djcowan opened #1741 "Widget Block Fieldset background color - Wordpress 5.8"
## Describe the bug
HTML Fieldset selector element in widget block Admin view is black.
source of css:
<style id='storefront-gutenberg-blocks-inline-css'>

CSS specificity
.editor-styles-wrapper table:not( .has-background ) tbody tr:nth-child(2n) td,
**.editor-styles-wrapper fieldset,** <---- this
.editor-styles-wrapper fieldset legend {
    background-color: #000000;
}

[2021-07-29 15:05] vanderwijk opened #1742 "Fonts url path contains duplicate slash"
When checking the source code of my store I found that the inline styles for the star and WooCommerce fonts contain a duplicate slash. See this example from the source page of my store:

`@font-face {
				font-family: star;
				src: url(https://bestelgrindenzand.nl/wp-content/plugins/woocommerce/assets/fonts//star.eot);
				src:
					url(https://bestelgrindenzand.nl/wp-content/plugins/woocommerce/

[2021-08-02 13:35] Aljullu opened #1745 "Search block has an overlaping icon when added to the sidebar"
## Describe the bug
There is a styling issue between the Search block included in WordPress and Storefront styles when the block is added to a widget area.

## To Reproduce
1. With WordPress 5.8, go to Appearance > Widgets.
2. Add the Search block into the sidebar.
3. Go to the frontend, and notice there is a magnifier icon which overlaps the label:
![imatge](https://user-images.githubusercontent.

[2021-08-03 14:58] vanderwijk commented on #1742
Reopening this issue as I accidentally closed it when merging the fix to my fork.

[2021-08-06 11:46] wpniall opened #1751 "Update Font Awesome to version 5.14 or newer"
## Describe the solution you'd like
Per the [Could we get fontawesome updated to 5.14](https://wordpress.org/support/topic/could-we-get-fontawesome-updated-to-5-14/) request on the WordPress.org forums, it would be great to have the Font Awesome version for Storefront updated to version 5.14 or newer to add support for TikTok icons and more.

## Additional context
It looks like [Font Awesome added

[2021-08-06 11:52] GlennMartin1 commented on #1751
As of 8/6/2021, the current version is 5.15.4. See https://fontawesome.com/v5/changelog/latest

[2021-08-06 15:14] mikejolley commented on #1742
Hi @vanderwijk

Did you want to open a pull request for this since you have the fix in your branch?

Thanks

[2021-08-07 14:50] vanderwijk commented on #1742
Yes, I tried to open a pull request but it somehow ended up in my fork instead of in this repo. I have never opened a pull request before so this is a bit of a learning curve. Do you have any tips for me?

[2021-08-09 10:50] mikejolley commented on #1742
Only https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork - the GitHub UI allows this.

[2021-08-09 11:37] vanderwijk commented on #1742
Thanks! I installed Github Desktop and that made creating the pull request super easy.

[2021-08-09 12:00] #1742 closed, assigned to nobody

[2021-08-11 16:13] wpniall commented on #1751
Yes, you're right @GlennMartin1! I specified version 5.14 or higher in case there's a valid reason not to use the latest 5.15.4 version, as 5.14 is the earliest version containing the requested icon updates.

[2021-08-16 13:18] #1745 closed, assigned to Aljullu

[2021-08-17 23:32] user-1138 opened #1760 "Since 3.6.0 - Release Source code archives missing build/compilation files"
## Describe the bug
Since Release 3.6.0, the .zip/.tar.gz Source code assets, are missing all of the build/compilation related files (i.e. Grunt, Composer, Sass, etc...).

For example, download the 3.6.0 [Source Code (zip)](https://github.com/woocommerce/storefront/archive/refs/tags/3.6.0.zip), and it only contains the .php, .txt, and image (.jpg, .png., .svg, etc) files.

Download the 3.5.1 [Sour

[2021-08-18 10:12] vanderwijk opened #1761 "Full width block broken in 3.8.0"
When using a full width cover block, this is no longer spanning the full width of the browser.

I have been able to reproduce this on two different sites. See screenshots below.

This issue is caused by a missing 'width: auto' from PR #1713

<img width="1552" alt="V3 7 0" src="https://user-images.githubusercontent.com/1212909/129880629-8b3126f6-cd82-44d5-8050-f056d3b564bd.png">
<img width="1551" a

[2021-08-18 10:18] opr commented on #1761
Thanks for filing this issue! I've created a PR (#1762) that will address this.

[2021-08-18 10:39] #1761 closed, assigned to opr

[2021-08-18 11:02] opr commented on #1761
Hello @vanderwijk - [Storefront 3.8.1](https://github.com/woocommerce/storefront/releases/tag/3.8.1) has been released which fixes this regression. Many thanks again for reporting this quickly, and for also sharing your fix.

[2021-08-18 15:35] opr commented on #1760
Thanks for reporting this @user-1138, definitely a strange one!

We added a `.gitattributes` file in https://github.com/woocommerce/storefront/pull/1674 with the goal to exclude `.scss` files from the _built_ archives. Looks like excluding them from the _source_ archives is an unintended side effect.

I'll add this job to our backlog to investigate, ~~but in the meantime you can get the source arc

[2021-08-18 22:58] user-1138 commented on #1760
No probs @opr! And yeah, it had me scratchin' my head at first... 8-P

[2021-08-19 07:36] opr commented on #1760
Hi @user-1138 - After discussing internally, we're going to move forward with fixing this for future releases and tags, but we won't be backporting the fix to earlier releases.

If you need files from those earlier versions, I'd recommend [cloning this repository](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/cloning-a-repository-from-github/cloning-a-repository) an

[2021-08-20 00:45] user-1138 commented on #1760
No probs - on all counts!

[2021-08-20 08:21] #1760 closed, assigned to nobody

[2021-08-21 09:06] ntindicator opened #1765 "Storefront single product pagination next previous sorting inverted"
## Describe the bug
When viewing the single product page, the previous and next product pagination links are pointing in the opposite directions to the sorting on the shop loop page. This seems confusing for the user because the product to the left is the previous product (next in loop), and the product to the right is the next (previous in loop). It makes more sense to have the next on the left,

[2021-08-23 14:30] ralucaStan commented on #1765
Hi there @ntindicator,
Thank you for reaching out and taking the time to create this issue.

The pagination on the single product view is intended to be a navigation in the product's category. The previous/next products are the ones that have a date before/after the date of the current product. So the sorting on the shop page should not influence it.

There is a known [issue regarding](https://git

[2021-08-23 14:30] #1765 closed, assigned to nobody

[2021-08-24 02:11] ntindicator commented on #1765
Navigating to the right on the latest post always takes the user to a post from a long time ago (the first post in the category). Clicking the link to the right should be to the previous post if they’re sorted from latest to first, in my opinion. I agree the loop sorting is not connected, but in my case it is, as I removed the sorting options, and use date sorting only. Also I’d prefer to remove t

[2021-08-27 19:24] glagonikas commented on #1089
Came across this issue whilst looking for ways to load FA from our own CDN instead of the server.

I agree it would be better if enqueuing FA a different way, or detached to the styles would make things more flexible, so people can enqueue whichever version they like.

As there's currently no other solution we can think of, we resulted in dequeuing icons.css from Storefront, copying to our child t

[2021-08-30 08:45] renovate[bot] opened #1773 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency got to 11.8.5 [SECURITY]](../pull/1997)
 - [ ] [Update dependency loader-utils to 2.0.4 [SECURIT

[2021-09-07 03:35] annabellegauberti opened #1777 "Menus NOT working on Storefront theme from Woocommerce"
Further to my ticket opened on 3 August 2021, I have not received any appropriate answers from you, since you bloody tested my websites crefovi.com and crefovi.fr from your desktop.

I told you, in my original email dated 2 August 2021, that the issue with the menu was on the devices which are IPHONES, AND PROBABLY ALL MOBILE PHONES.

So I need you to go back to the drawing board, constructively r

[2021-09-07 10:00] nielslange commented on #1777
We are happy to help you, but we will not tolerate abusive language. If you want our continued help, I’m going to ask you to be respectful.

Kindly note that this repository is for development purposes only. Support requests for the Storefront theme need to be addressed to https://wordpress.org/support/theme/storefront/. Please also keep the [Storefront support guidelines](https://wordpress.org/su

[2021-09-07 10:00] #1777 closed, assigned to nobody

[2021-09-14 18:12] opr opened #1783 "Error in console when searching for blocks/viewing block previews"
## Describe the bug
When searching for blocks in the editor, an error is sometimes shown

[code]

Isolating the problem (mark completed items with an [x]):
- [x] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- [x] I can reproduce this bug consistently using the steps below.

## To Reproduce
Steps to reproduce the beha

[2021-09-18 00:16] 9ete commented on #1787
I have added a fix directly to the storefront theme as the initial word-break style is being added there.  Please let me know if you'd like me to take a different approach.

https://github.com/woocommerce/storefront/pull/1785

Attached are the after screenshots.
![Screen Shot 2021-09-17 at 5 12 47 PM](https://user-images.githubusercontent.com/1033613/133865321-9713e09e-494f-4fcb-9344-e3f2dc2de72e.

[2021-09-18 00:37] roykho commented on #1787
@hawkeye126 - thanks for the effort but I don't think that is a good solution. Because that word can be much longer in length such as a different language. Perhaps change it into an icon instead of words when the width becomes too narrow?

[2021-09-18 17:48] 9ete commented on #1787
@roykho that makes sense to me.  What icon would you prefer?
https://developer.wordpress.org/resource/dashicons/#plus or https://developer.wordpress.org/resource/dashicons/#plus-alt maybe?

[2021-09-21 08:22] Aljullu commented on #1787
Coming here after seeing the PR in Storefront (https://github.com/woocommerce/storefront/pull/1785). Thanks for working on this @hawkeye126!

Here is my proposal of what I would do:

* Revert the changes from https://github.com/woocommerce/storefront/pull/1624.
* Figure out a different fix for https://github.com/woocommerce/storefront/issues/1604. I would implement something similar as https://git

[2021-09-21 12:34] roykho commented on #1787
@Aljullu - makes sense.

[2021-09-24 14:47] DearTanker commented on #1320
Still not fix?

[2021-09-25 21:44] 9ete commented on #1787
Fixed via reverting https://github.com/woocommerce/storefront/pull/1624 which applies a `word-break: break-all` style to all elements with the class `.button` and then to add the break-all style specifically to the download buttons as specified in the reverted issue.

**Test Steps:**
Install and activate all the required plugins.
Complete the onboarding setup wizard.
Choose the Storefront theme.
A

[2021-09-25 21:45] 9ete commented on #1787
@Aljullu ready for review.

https://github.com/woocommerce/storefront/pull/1797

[2021-09-26 17:32] #1787 closed, assigned to nobody

[2021-09-27 13:14] doffine opened #1799 "Multiple 404 console errors since update to v3.9.0"
Hello Storefront team,

## Describe the bug
We just updated our three Storefront installations to v.3.9.0. After this we checked the shops as usual and found multiple 404 console errors:

Shop Frontend:
1) GET https://[URL]/wp-content/themes/storefront/assets/js/navigation.min.js?ver=3.9.0 [HTTP/2 404 Not Found 1150ms]
2) GET https://[URL]/wp-content/themes/storefront/assets/js/woocommerce/header-

[2021-09-27 14:38] dathwa commented on #1799
Yep. This is happening on all sites where we have storefront parent theme. We tested in staging on pure storefront theme and same issues.
WordPress 5.8.1
PHP 7.4
storefront 3.9.0

JQMIGRATE: Migrate is installed, version 3.3.2
www.example.com/:1304 GET https://www.example.com/wp-content/themes/storefront/assets/js/navigation.min.js?ver=3.9.0 net::ERR_ABORTED 404
www.example.com/:1309 GET https://w

[2021-09-27 17:32] willfaulds opened #1800 "Current 3.9.0 release is missing minified js files!"
## Describe the bug
The current 3.9.0 release does not contain minimised i.e. `.min.js` javascript assets

Isolating the problem (mark completed items with an [x]):
- [x] I have confirmed the previous release did contain minified files [Wordpress Repository v3.8.1 ](https://themes.trac.wordpress.org/browser/storefront/3.8.1/assets/js?rev=153415) and that the current does not [Wordpress Repository

[2021-09-27 17:34] willfaulds commented on #1799
Yes I have traced the issue #1800

[2021-09-27 17:36] willfaulds commented on #1799
A temporary fix for those affected would be to download the minified js files from the Storefront 3.8.1 link given in #1800 and add them manually via FTP to the corresponding folder(s).

[2021-09-27 18:04] jrick1229 opened #1801 "Handheld search icon refreshes page"
## Describe the bug

When accessing a site using Storefront on mobile/tablet, clicking the 'Search' icon in the handheld menu refreshes the page instead of opening the search box: https://d.pr/i/4Rp7GV

Ticket: 4329816-zen

Isolating the problem (mark completed items with an [x]):
- [x] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront the

[2021-09-27 18:21] dsmithweb commented on #1800
4330159-zen

[2021-09-27 19:17] tjcafferkey commented on #1800
After some debugging, I found this was due to a conflict with node versions when running the build for the new Storefront update. Running node version `12.21.0` built the minified JS files.

**I've since done a `3.9.1` release and can confirm this fixes the issue.** But will keep this issue open until it's tested by someone other than me.

**Testing instructions**
* Update your theme to version `3

[2021-09-27 19:53] dsmithweb commented on #1800
Tested and it works great!  Thank you so much for taking care of this so expeditiously

[2021-09-27 20:21] #1800 closed, assigned to nobody

[2021-09-29 09:44] tjcafferkey commented on #1799
@doffine this was a known issue and has been resolved. Please update to Storefront 3.9.1 to fix this.

More information found here https://github.com/woocommerce/storefront/issues/1800#issuecomment-928196332

[2021-09-29 09:44] #1799 closed, assigned to nobody

[2021-09-29 10:38] tjcafferkey commented on #1801
@jrick1229 I'm unable to reproduce this issue. Please could you try updating Storefront to the latest version and trying again?

There was a known issue with version 3.9.0 (if you're running that) but perhaps this was fixed in version 3.9.1 which is currently the latest.

[2021-09-29 14:15] jrick1229 commented on #1801
Hi @tjcafferkey – updating to v3.9.1 seems to have fixed this on my local site! 😁 Thank you

[2021-09-29 14:15] #1801 closed, assigned to nobody

[2021-10-03 16:58] seebz commented on #1320
Two easy ways to solve this old issue, both in the file `_variables.scss` :

1. Setting `$ms-base` in `rem`
[code]
2. Setting `$container-width` in `px`
[code]

Please fix :)

[2021-10-06 10:12] tjcafferkey opened #1811 "Add .nvmrc file to prevent broken builds."
## Is your feature request related to a problem? Please describe.
With the latest version of Node the `npm run build` command has some issues creating the required minified versions of required JS files and produces a broken build. This occurred during a deployment, you can read more on this incident report pca54o-2gc-p2

## Describe the solution you'd like
To mitigate this issue from happening I'

[2021-10-11 17:58] DearTanker commented on #1320
can u share the full functions.php file to help me study the work.

[2021-10-15 08:18] MIRCEANETOIU opened #1819 "Storefront"
## Describe the bug
Clearly describe the issue. Please be as descriptive as possible; issues lacking detail, or for any other reason than to report a bug, may be closed without action.

Isolating the problem (mark completed items with an [x]):
- [ ] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- [ ] I can reproduce t

[2021-10-18 10:26] gingerling opened #1821 "Making storefont a "block theme" (so category pages can be edited with guttenberg)"
## Is your feature request related to a problem? Please describe.

I have been looking at solutions for really great category pages, as these are how most customers arrive on my store, but I'm not happy with any of the methods right now. It looks like from wordpress 5.9 there will be lots of freedom to edit these pages if you have a block theme https://github.com/WordPress/gutenberg/issues/33094#i

[2021-10-18 13:09] opr commented on #1819
Hi there @MIRCEANETOIU it looks like you submitted only the template used for creating the issue without providing any more information for us to help you.

I'll close this issue for now, but if there's something specific you would like to report please feel free to leave a reply and reopen the issue.

[2021-10-18 13:09] #1819 closed, assigned to nobody

[2021-10-21 13:45] Aljullu commented on #1821
Thanks for opening this issue @gingerling, it's really nice to see how much interest block themes are gathering in the Woo community, we are excited too!

We are currently working on improving how WooCommerce behaves with block themes, and we have many more improvements planned for the near future, you can read more about this in this article: "[Peek into the WooCommerce Blocks Roadmap](https://de

[2021-10-21 13:45] #1821 closed, assigned to nobody

[2021-10-27 21:47] gingerling commented on #1821
yes, the reason I like storefront is this long term support - actually, I only ever use this kind of community developed theme, like the 2021 type themes for websites and storefront for stores.

I'm not clear from your answer if there will be a "new" classic theme for WooCommerce at some point, that is a block theme? Presumably there will be? I don't really want to use "a block theme", I'd like to

[2021-10-29 11:41] nielslange opened #1828 "Use math.div() to fix deprecation warning"
## Is your feature request related to a problem? Please describe.

When running `npm run build`, the following deprecation warning appears multiple times:

[code]

## Describe the solution you'd like

To ensure that the SCSS files remain working, I suggest migrating the deprecated functions based on the suggestions on  https://sass-lang.com/documentation/breaking-changes/slash-div.

## Describe al

[2021-11-08 09:17] Aljullu commented on #1821
Thanks for your kind words @gingerling!

Unfortunately we don't have an answer for that yet. It's not something we have in our short-term plans, but we are still evaluating if it would be valuable to create a WC-focused block theme. Our current focus is to make WooCommerce work great with all block themes out there, that includes the community theme for the next WP version ([Twenty Twenty Two](htt

[2021-11-09 06:19] nielslange opened #1839 "e2e test is broken"
## Describe the bug

While reviewing https://github.com/woocommerce/storefront/pull/1833, I noticed that the e2e tests are failing. It turned out that the Storefront theme is no longer activated when running `npm run wp-env`.

## To Reproduce

1. Check out the trunk.
2. Start Docker Desktop.
3. Open the terminal and run `npm run wp-env && npm run test:e2e`.
4. See that the e2e test is broken.

##

[2021-11-15 09:10] nerrad commented on #1839
This seems odd and sounds like a potential bug with `wp-env`. Have you checked the GB repository to see if it's been reported anywhere? If not, maybe make sure it's reported?

Otherwise, your proposed solution makes sense! You'll just want to check what happens if someone runs the `npm run test:e2e` consecutively locally. What happens if you try to activate a theme that is already activated in the

[2021-11-18 12:46] nielslange commented on #1839
This has been reported in GB via https://github.com/WordPress/gutenberg/issues/26766 and the official statement was that it's not a bug, but intentional, see https://github.com/WordPress/gutenberg/issues/26766#issuecomment-728359760.

Good call. I haven't tried what happens in such a case, but I assume nothing will happen based on this quick test:

<img width="584" alt="Screen Shot 2021-11-18 at 1

[2021-11-24 11:17] gigitux commented on #1783
According to [this issue](https://github.com/WordPress/gutenberg/issues/35018), after an update, now on the console, there is a warning message.
Since nothing is broken, I will add the low priority label

[2021-11-26 15:52] #1839 closed, assigned to gigitux

[2021-12-15 17:41] joashrajin commented on #1332
I noticed this too and it seems to be due to the buttons using `display: inline-block;`
![image](https://user-images.githubusercontent.com/16253818/146236962-7b85e87c-68a7-4c4b-8270-37c2c8d2b064.png)

Quite an odd one since it only affects Safari. To fix it, we could either move the second button up by 1px (which isn't ideal) or consider using something like `inline-flex` which seems to work much

[2021-12-22 12:23] clb92 commented on #1707
After abandoning this theme for a while, and coming back to it now, our problem seemed to be that some minified assets simply weren't generated during the build process.

I set up an Ubuntu 20.04 LTS VM with a fresh installation of newest NodeJS and NPM (the versions I used before were *ancient*), and the result was the same: Missing minified assets.

I've then installed specific versions of NPM (

[2022-01-12 15:27] gglobalstep opened #2103 "[GlobalStep] For Storefront theme, new page "Title" is aligned to right as default and fails to reflect on frontend."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Storefront theme, new page "Title" is aligned to right as default and fails to reflect on frontend.

### Expected behavior

For Storefront theme, new page "Title" should be a

[2022-01-12 15:38] zhongruige commented on #2103
Hi @gglobalstep ,

Thank you for taking the time to report this bug, we really appreciate your help. I can reproduce it on my end.

* Created a fresh install of WooCommerce 6.1.0 on a site running WordPress 5.9
* Imported the sample products and went to create a new page
* Verified the title showed center-aligned instead of left-aligned as shown in the page.

Noting also that this works as expecte

[2022-01-26 09:17] Eiriken opened #1885 "Skip links"
Hi!
I'm trying to make Storefont accessible to all, and I cannot see that Storefront has a **Skip links** function (https://make.wordpress.org/accessibility/handbook/markup/skip-links/). Can you please add that fuction? This function is required by law in Norway and other countries that are to follow the WCAG accessibility standard.

[2022-01-27 08:43] Aljullu commented on #1885
Hi @Eiriken, Storefront does have Skip links, you can see them being defined here:

https://github.com/woocommerce/storefront/blob/45bd1c39487518daf40e59a476b5bf8a834b104c/inc/storefront-template-functions.php#L288-L301

I'm going to close this issues because there isn't anything actionable for us. But feel free to reopen if you think that's a mistake. Thank you!

[2022-01-27 08:43] #1885 closed, assigned to nobody

[2022-01-28 12:14] Eiriken commented on #1885
Ok. Thank you for your reply! It's strange, because the Skip links
function/button does not appear when I press tab at the beginning of my
website (tried Chrome and Edge). Do you know what can cause this? Website:
www.bil-teori.no

On Thu, Jan 27, 2022 at 9:43 AM Albert Juhé Lluveras <
***@***.***> wrote:

[2022-01-28 12:31] Aljullu commented on #1885
It's strange, they work fine in Storefront, as you can see in the demo site:

https://themes.woocommerce.com/storefront/

Maybe you are using a child theme or by any chance are rewriting the `storefront_skip_links()` function?

I would recommend following the steps of the [WooCommerce Self-Service Guide](https://woocommerce.com/document/woocommerce-self-service-guide/), that will allow you to diag

[2022-01-28 12:50] Eiriken commented on #1885
Ok. Thanks for the tips :) I'm not very into coding, but I will try to see
if something happened to the skip_links code. I tried to find the code in
the functions file of both the child and mother theme, but couldn't find
it. Should I look somewhere else?

fre. 28. jan. 2022, 13:31 skrev Albert Juhé Lluveras <
***@***.***>:

[2022-01-28 13:58] Aljullu commented on #1885
For Storefront, it should be in `storefront/inc/storefront-template-functions.php` (line 297 and 298). If it isn't, somebody must have modified that file, so I would contact the developers that might have done that. If the skip links are in the file I mentioned, then it's probably an issue with the child theme you are using, so you should contact the devs of that theme.

[2022-01-28 14:07] Eiriken commented on #1885
Thanks a lot! I found the code, so that's good. I have created a child
theme on my own (without devs), but there are not a lot of extra code in
the child functions file (39 lines). So do you think some of the code in
the child functions file could be the reason for it? Or could plugins
destroy the skip links function?

Sorry for the newbie questions....

fre. 28. jan. 2022, 14:58 skrev Albert Juhé

[2022-01-29 14:11] Aljullu commented on #1885
The best way to know is following the [_Plugin and theme conflict_ section](https://woocommerce.com/document/woocommerce-self-service-guide/#section-4) of the WooCommerce Self-Service Guide, this will allow you to know what's causing the issue.

[2022-01-29 14:47] Eiriken commented on #1885
Ok, thanks!

lør. 29. jan. 2022, 15:11 skrev Albert Juhé Lluveras <
***@***.***>:

[2022-02-14 05:10] #1828 closed, assigned to nielslange

[2022-02-15 10:06] shohanhossainnab opened #1909 "The product catalog page shows duplicate categories when Shop page display is set to Show categories on Atomic sites"
## Describe the bug
On the WordPress.com site, when **Shop page display** is set to `show categories`, the category items get duplicated indefinitely due to infinite scrolling.

Isolating the problem (mark completed items with an [x]):
- [x] I have deactivated other plugins and themes and confirmed this bug occurs when only WooCommerce + Storefront theme are active.
- [x] I can reproduce this bug

[2022-02-15 10:09] shohanhossainnab commented on #1909
Initial report: 4776497-zen

[2022-02-18 10:20] wyter commented on #1909
Also reported in 34255055-HC

[2022-02-18 10:21] wyter commented on #1909
Hi @shohanhossainnab,

I was also able to replicate this on my atomic site. It seems to be connected to Jetpack's Infinite Scroll setting.

The workaround now is to change Jetpack → Writing → Infinite Scroll to "Load more posts using the default theme behavior"

It has worked on my site, and it also worked in 34255055-HC.

[2022-03-04 16:21] #1320 closed

[2022-03-21 15:18] #1811 closed, assigned to nobody

[2022-03-24 14:04] DanielCyran opened #1938 "Editing a section template in an elementer does not work correctly with the StoreFront theme"
Storefront has a problem with the templates in the elementer
when I enter:
Dashboard / Templates / Saved Templates
Then it adds a new one, I choose "section" adds a name
I'm going to edit in elementor and the problem is that this section cannot be edited ... you can only switch to footer or header editing
; /
surely adding a template as a "page" works correctly but it overloads the page ...

I tes

[2022-03-25 08:53] tomasztunik commented on #1938
Hi Daniel. We do not provide here direct support for 3rd party plugins compatibility.

Can you please go to https://wordpress.org/support/plugin/elementor/ and report your issue there? The plugin authors, community and/or support team will try to help. In the meantime quick search gave me [this result](https://wordpress.org/support/topic/elementor-doesnt-work-on-my-shop-page/ ) maybe it will help.

[2022-03-25 08:53] #1938 closed, assigned to nobody

[2022-04-04 12:23] gigitux commented on #1595
We decided to revert #1711 because we noticed that:
- on the secondary menu, the menu, and the sub-menu are bottom aligned instead of top-aligned. Fixed with #1943
- on the mobile, the menu doesn’t look very well (“description” should be gray and there is too much margin).

![image](https://user-images.githubusercontent.com/4463174/161542759-70c1c409-6a01-4b8d-8395-9ffe9c139de6.png)

[2022-04-05 11:13] lafaCodes opened #1946 "Mini Cart Price Update Issue?"
Hello all,

I'm new with woocommerce and PHP and I'm having small issue.

Any one having issue with updating the price-amount  on mini cart (e.g: 2 × $25.00)?

`<span class="quantity">2 ×
      <span class="woocommerce-Price-amount amount">
           <bdi> <span class="woocommerce-Price-currencySymbol">$</span>25.00</bdi>
      </span>
</span>`

When I add product from  **SHOP** page, I can see s

[2022-04-05 13:11] joashrajin commented on #1909
This is a duplicate of https://github.com/Automattic/jetpack/issues/21929
I'll leave this open in case the Storefront devs are able to resolve it or have any feedback :)

[2022-04-05 13:32] joashrajin commented on #2102
The issue is due to this code from the style.css of Storefront:

<img width="901" alt="image" src="https://user-images.githubusercontent.com/16253818/161765235-2defeb91-e5db-4a54-a872-981d825f7a96.png">

[2022-04-05 13:52] starrecording commented on #1909
Negative but that’s ok because I’ve stopped using the native shop page and created my own. On Tue, 5 Apr 2022 at 8:11 AM Joash wrote:
This is a duplicate of Automattic/jetpack#21929

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>
[
{
***@***.***": "http://schema.org",
***@***.***": "EmailMes

[2022-04-08 14:42] frontdevde commented on #1946
Hi @r00sn, I'm not sure I fully understand the issue. I've added a product on sale both from the Shop and Single Product pages and it worked as expected. Could you maybe provide us with clear steps on how to reliably reproduce the issue you're experiencing? If possible screenshots could also help illustrate the issue. Thank you!

[2022-05-10 12:21] joashrajin opened #1967 "Mini Cart: Checkout Link is incorrect in some cases"
## Describe the bug
If you change the Checkout Page link under WooCommerce > Settings > Advanced, that link does not update in the Mini-Cart, and it still references the old page if you had some items in your cart. Refreshing makes no difference except for clearing cookies.

Isolating the problem (mark completed items with an [x]):
- [x] I have deactivated other plugins and themes and confirmed th

[2022-05-11 09:14] tomasztunik commented on #1946
@lafaCodes if this is still an issue please try to provide more details about your store setup, used plugins etc. we were not able to reproduce the issue you mentioned based on the details provided.

For the time being, we are going to close this issue but feel welcome to comment here and if this issue persist and we can reproduce it we'll re-open it.

[2022-05-11 09:14] #1946 closed, assigned to nobody

[2022-05-11 10:08] tomasztunik commented on #1967
Bug confirmed. This breaks for both the `checkout` and `cart` URLs in the storefront mini-cart.

Removing items or adding new items causes the links to load correctly even without reloading the page. We need to review if the link to the checkout/cart is and if so if it has to be stored in the database.

[2022-05-12 04:23] anant1811 opened #1969 "Responsive issues with Grouped products"
Reported in 5200970-zen

## Describe the bug

When using Grouped products, if you resize the browser window - you'd notice that at one point of time the product titles bunch up to the point where they are not full words, but simply several letters from each word, making them hard to read:

![https://d.pr/i/jevMWY](https://d.pr/i/jevMWY+)
Full Size: https://d.pr/i/jevMWY

Isolating the problem (mar

[2022-05-12 11:35] tomasztunik commented on #1969
@anant1811 can you please clarify? ~Is the issue here Grouped Product or is the issue with Product Add-ons to add extra products? I've tried to create a Grouped product but it doesn't look like on the image.~

Alright! Learned how to use this feature 🎉

I believe this issue is local to the design of the reporter and adapting this feature to a design is not our responsibility. I will try to provide

[2022-05-12 12:19] #1969 closed, assigned to nobody

[2022-05-14 08:42] cskindley opened #1971 "Issue revealed when making child theme with Child Theme Configurator"
## Describe the bug
Error while attempting to create a Storefront child theme using the Child Theme Configurator plugin from the Wordpress repository.

Isolating the problem (mark completed items with an [x]):
- [ ] I can reproduce this bug consistently using the steps below.

## To Reproduce
Steps to reproduce the behavior:
1. Install Child Theme Configurator plugin version 2.5.9 (latest version

[2022-05-16 05:37] EjayhanFernandes commented on #1969
Thanks, @tomasztunik! the solution was forwarded to the reporter in 5200970-zen. 👍🏽

[2022-05-16 14:57] danieldudzic commented on #1971
Hi @cskindley!

Thanks for reporting.

I'd recommend reaching out to the plugin developers regarding this via: https://wordpress.org/support/plugin/child-theme-configurator/

[2022-05-16 14:57] #1971 closed, assigned to nobody

[2022-05-28 07:31] nagpai commented on #1151
Issue may be related to Woo Core since it can be replicated on Videomaker Theme (WPcom) - Blockbase theme family

35642216-hc

[2022-05-28 07:44] nagpai commented on #1151
Adding a small snippet to what @[StefsterNYC](https://github.com/StefsterNYC) shared above to reorder the continue shopping button below the message text

[code]

[2022-06-11 16:07] Yatoom opened #1987 "Calculate total sales during a particular time period"
## Is your feature request related to a problem? Please describe.
Within the `storefront-best-selling-products` homepage section, the best-selling products are calculated over the total sales for each product. However, we would like to show the best-selling products over - for example - the last 6 months.

## Describe the solution you'd like
I would like to set a `startDate` parameter that accepts

[2022-06-14 11:15] tomasztunik commented on #1987
Thanks for the feature idea @Yatoom. I can see myself using this as well, and we'll review if it is possible to implement it on the storefront level.

We are also working on updating how product listing works for WooCommerce Blocks and we'll be updating these blocks to use QueryLoop behind the scene. It should make it possible to give much more control over how and what we list in product grids/li

[2022-06-22 03:33] diegoaa commented on #845
In light of [this](https://core.trac.wordpress.org/ticket/55985) should this issue be reopened?

[2022-06-27 10:38] Cheekymate06 opened #2008 "Storefront single product with multiple images resizing issue"

[2022-06-27 11:50] JethroHazelhurst commented on #1751
Hi there! Just wanted to bump this as this update to the Fontawesome version has been requested for a long time now. We depend on TikTok for most of our engagement (beauty/skincare product segment) so to not be able to have the TikTok icon on our website is a real handicap. This has been requested before [here](https://wordpress.org/support/topic/could-we-get-fontawesome-updated-to-5-14/) and [her

[2022-06-29 15:22] daniyalahmadk opened #2002 "Storefront duplicate products on category page with Jetpack infinite scroll"
## Describe the bug

The storefront theme duplicates the products with Jetpack Infinite scroll options on the product archive page. When Jetpack tries to load the next set of products via Infinite scroll it displays the same products, those that appeared on the first page.

Isolating the problem (mark completed items with an [x]):

[x] I have deactivated other plugins and themes and confirmed this

[2022-06-29 15:22] daniyalahmadk commented on #2002
Ref: [5335685-zd](https://woothemes.zendesk.com/agent/tickets/5335685)

[2022-06-29 22:53] danieldudzic commented on #2002
Thank you for reporting.

I'll mark this as:

Duplicate of #1909

[2022-07-01 15:07] danieldudzic opened #2004 "PHP and JS automated tests fails when pushing code"
When doing the 4.1.1 release, I have noticed a bunch of unrelated errors before merging the PR.

1. Multiple instances of the same **PHP error** in inc/class-storefront.php:
`A hook was found, but was not accompanied by a docblock comment on the line above to clarify the meaning of the hook.`

2. **JS Lint fail**:
`ESLint issues detected.`

- Analyzing /home/runner/work/storefront/storefront/asset

[2022-07-11 19:30] ObliviousHarmony commented on #2008
Hello @Cheekymate06,

As this is a bug in Storefront itself, I'm going to transfer the issue over to that repository.

[2022-07-12 05:03] nagpai commented on #1909
Can we check if the issue recurs, if we change Infinite Scroll settings within
`Jetpack > Settings > Writing > Theme enhancement` to `Load more posts using the default theme behavior` ?

36044439-hc  - Dara theme, issue resolved after changing setting to `load more posts using the default theme behavior`